/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* beginning of header/footer styles */

/* Fonts */

@import url('https://fonts.cdnfonts.com/css/futura-std-4');
/* Utility */
.hide { /* For nonCheckbox fields, hide can be used with a getAttribute tag or site tag to show an element if the tag has content */
  display: none !important;
}
.hideNo { /* "No" is returned by an unchecked checkbox in Netsuite. If unchecked then the element will be hidden */
  display: none !important;
}
.hide0 { /* Hide if NS returns a 0 value */
  display: none !important;
}
.showInline0 {
  display: inline !important; /* show if NS returns a 0 value */
}

/* General */

html {
  min-height: 100%;
  position: relative;
  /* font-weight: 300; */
  /* overflow-y: hidden; */
}

body {
  font-family: 'Futura Std', sans-serif !important;
}

body,
td,
select,
textarea,
input,
span {
  font-family: 'Futura Std', sans-serif !important;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  
}

a,
#main a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
}

a:hover,
a:active,
a:focus,
#main a:hover,
#main a:active,
#main a:focus,
#main .cart-item-details .name:hover,
#main .cart-item-details .name:active,
#main .cart-item-details .name:focus,
.header .s-global li li:active,
.header .s-global li li:hover,
.header .s-global li li:focus,
.breadcrumbs a:hover,
.breadcrumbs a:active,
.breadcrumbs a:focus,
#main .btn-link:hover,
#main .btn-link:active,
#main .btn-link:focus,
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  color: #36a0d1;
  text-decoration: none;
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin-top: 0;
}

h1.title,
h2.title,
h3.title,
h4.title,
h5.title,
h6.title {
  color: #36a0d1;
}

button {
  border-radius: 3px;
  background-color: #36a0d1;
  border: none;
  padding: 10px 20px;
  color: white;
  font-weight: 600;
}

hr {
  border-color: #dae6ed;
  clear: both;
}

.item-template hr {
  clear: both;
  /*clear out other border*/
  border: none;
  border-bottom: 2px solid #dedede;
  border-radius: 3px;
}

hr.scnd {
  border-color: #66b1ce;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.icon {
  display: inline-block;
}

.left {
  float: left;
}

.right {
  /* float: right; */
}

.a-left {
  text-align: left;
}

.a-right {
  text-align: right;
}

.a-center {
  text-align: center;
}

.no-margin {
  padding: 0px;
  margin: 0px;
}

.no-padding {
  padding: 0px;
  margin: 0px;
}

.center {
  clear: both;
  float: none;
  margin: 0 auto;
  text-align: center;
}

.header #tab1,
.header #tab3,
.header #tab6 {
  display: none;
}

#loadingIndicator.active {
  display: block !important;
}

.compare .modal-dialog {
  width: 800px;
}

.row.sort {
  text-align: center;
}

/* Body */

.content_area {
}

#div__header {
  overflow: visible !important;
}

#div__contentarea {
  margin: 0 0 33px;
  padding: 0px;
}

.home #div__contentarea {
  margin: 0;
}

#div__title {
}

#div__label {
}

#div__body,
.main {
  margin: 0 auto !important;
  padding: 0;
}

#div__footer {
}

/*Item template */

.item-template .mobile {
  display: none;
}

.item-template .row.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title.desktop h1 {
  font-size: 27px;
  color: #555;
  font-weight: normal;
}

#single-carousel .carousel-inner .item.active a {
  margin: 0 auto;
  width: 100%;
}

.item-template .add-to-cart table {
  width: 100%;
}

.item-template .add-to-cart .cart-table table tr td:last-child {
  width: 100%;
}

.item-template .list-carousel h5.btn.btn-default.btn-tab.active {
  width: calc(100% - 40px);
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 17px;
  background-color: #267092;
  border: none;
  border-radius: 3px;
  text-transform: capitalize;
  font-weight: 600;
}

.item-template .list-carousel ul {
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
}

.item-template .list-carousel .tabs > div.col-sm-3,
.item-template .list-carousel li {
  width: 100%;
  max-width: 100vw;
  padding: 0;
}

.tabs ul .btn-tab.active .fa.fa-angle-down {
  font-size: 25px;
}

.item-template .carousel-inner > .active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-start;
}

.item-template .list-carousel .row.item:before,
.item-template .list-carousel .row.item:after {
  display: none;
}

.item-template .list-carousel .row.item.active .cell:first-child {
  padding-left: 0;
}

.item-template .list-carousel .row.item.active .cell:last-child {
  padding-right: 0;
}

/* Header */

.logo-login-row {
}

.logo-login-row :before,
.logo-login-row :after {
  width: 0px;
}

.cart-login-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-top: 20px;
}

.header .top,
.header .top a,
.header .s-global a {
  font-size: 12px;
  line-height: 38px;
}

.header .top .container {
  padding: 0;
}

.header .middle {
  padding: 10px 0;
}

.header .middle .container {
  padding: 0;
}

.header .bottom {
}

.header .logo {
  float: left;
}

.header .logo img {
  max-width: 300px;
}

.header .navbar {
  min-height: 38px;
}

.header .navbar,
.header .navbar-header {
  background-color: #267092;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

.header .nav a {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  line-height: 35px;
  margin: 7px 0 6px;
  padding: 0 20px;
  text-decoration: none;
  text-transform: capitalize;
  text-shadow: inherit;
}

.header .nav a:hover,
.header .nav a:focus,
.header .nav a:active,
.header .nav .tab_active a {
  color: #fff;
  background-color: #36a0d1;
}

.header .usr-icon ul {
  margin: 0 20px 0 0;
  float: left;
  padding: 0;
}

.header .usr-icon li {
  float: left;
  list-style: none outside none;
}

.header .usr-icon a {
  border-color: #adadad #adadad #267092 #adadad;
  border-style: solid;
  border-width: 1px 1px 2px 1px;
  display: block;
  text-align: center;
  width: 65px;
  height: 52px;
}

.usr-icon .login a {
  border-right: 0.5px;
}

.header .usr-icon a#logged-as {
  float: left;
  margin: 0 20px 0 -20px;
  padding: 0 15px 5px;
  width: auto;
}

.header .usr-icon a#logged-as span {
  display: inline;
}

.header .usr-icon a#logged-as .icon {
  display: block;
}

.header .usr-icon > ul > li > a:hover,
.header .usr-icon > ul > li > a:active,
.header .usr-icon > ul > li > a:focus,
.header .usr-icon > ul > li > a:hover .icon,
.header .usr-icon > ul > li > a:focus .icon,
.header .usr-icon > ul > li > a:active .icon {
  border-bottom-color: #36a0d1;
  color: #36a0d1;
}

.header .usr-icon > ul > li > a span {
  display: block;
  font-size: 14px;
  color: #267092;
}

.header .usr-icon > ul > li > a:hover span {
  color: #36a0d1;
}

.header .usr-icon .icon {
  color: #267092;
  font-size: 16px;
  line-height: 20px;
  margin-top: 6px;
}

.header .usr-icon .quick_order_list a {
  display: inline-block;
  height: auto;
  width: 100%;
  min-height: 60px;
}

.header .cart-icon a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 52px;
  background-color: #ffffff;
  color: #267092;
  float: left;
  padding: 0 15px;
  border-color: #adadad #adadad #267092 #adadad;
  border-style: solid;
  border-width: 1px 1px 2px;
}

.header .cart-icon .icon {
  color: #267092;
  float: left;
  font-size: 18px;
  margin: 0 12px 0 0;
}

.header .cart-icon a:hover,
.header .cart-icon a:active,
.header .cart-icon a:focus,
.header .cart-icon a:hover .icon,
.header .cart-icon a:active .icon,
.header .cart-icon a:focus .icon {
  color: #36a0d1;
  border-bottom-color: #36a0d1;
}

.header .cart-icon,
.header .usr-icon {
  margin-top: 5px;
}

.header .cart-icon {
  margin-right: 10px;
}

.header .icon-bar {
  background-color: #ffffff;
}

.header .s-global ul {
  list-style: none outside none;
  float: right;
  margin: 0;
  padding: 0;
}

.header .s-global li {
  float: left;
  margin-left: 18px;
}

.header .s-global li ul {
}

.header .s-global li li {
  cursor: pointer;
  display: block;
  float: none;
  font-size: 11px;
  line-height: 2.4;
  text-align: left;
}

.header .s-global a {
}

.header .s-global .dropdown span {
  margin-left: 8px;
}

.header .s-global .fa {
  margin: 0 0 0 5px;
}

.header .s-global img {
  width: 25px;
}

.breadcrumbs {
  color: white;
}

.breadcrumbs .breadcrumbs-wrap {
  padding: 10px 0 0 15px;
}

.breadcrumbs,
.breadcrumbs a {
  font-size: 15px;
  line-height: 28px;
}

.breadcrumbs .container {
  padding: 0;
}

.wrap_quick_order {
  display: none;
}

/* NavBar Mobile */

.header .navbar-collapse .navbar-form {
  border: medium none;
  -webkit-box-shadow: inherit;
  box-shadow: inherit;
}

.header .navbar-collapse .s-global a {
  color: #fff;
}

.header .navbar-collapse .navbar-form.navbar-right:last-child {
  margin-right: 0;
}

@media (min-width: 768px){

  .header .navbar-collapse .navbar-form.navbar-right:last-child {
      margin-right: 0;
      width: 13%;
  }
}


/* Sticky Header */

.header.navbar-fixed-top {
  -webkit-box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.15);
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='#444444')";
  filter: progid: DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='#444444');
  -webkit-transition: all 5ms ease-in-out;
  -o-transition: all 5ms ease-in-out;
  transition: all 5ms ease-in-out;
}

.header.navbar-fixed-top .top {
  position: fixed;
  width: 100%;
}

.header.navbar-fixed-top nav {
  opacity: 0.9;
}

.header.navbar-fixed-top .top,
.header.navbar-fixed-top .usr-icon,
.header.navbar-fixed-top .cart-icon {
  display: none;
}

.header.navbar-fixed-top .middle {
  margin-top: 38px;
  padding: 0;
}

.header.navbar-fixed-top .logo {
  margin: 5px 0;
  width: 140px;
}

.header.navbar-fixed-top .logo img {
  height: auto;
  max-width: 100%;
}

.header.navbar-fixed-top .nav a {
  line-height: 30px;
  margin: 8px 0;
}

.header.navbar-fixed-top .autocomp-search {
  margin-bottom: 8px;
  margin-top: 8px;
}

.header.navbar-fixed-top .autocomp-search .input-group input {
  height: 30px;
  line-height: 16px;
  margin: 0;
}

.header.navbar-fixed-top .autocomp-search .input-group .btn {
  top: 5px;
}

.header.navbar-fixed-top .breadcrumbs {
  display: none;
}

/* Global Search */

.autocomp-search {
  position: relative;
  margin: 5px 0;
}

.autocomp-search .loader {
  background: url('/site/suiteoffice/img/loader.gif') no-repeat scroll 0 0
    rgba(0, 0, 0, 0);
  display: none;
  height: 20px;
  position: absolute;
  right: 40px;
  top: 17px;
  width: 20px;
  z-index: 10;
}

.autocomp-search .loader.active {
  display: block;
}

.autocomp-search .input-group input {
  background-color: #fff;
  border: 0 none;
  border-radius: 1px;
  color: #000;
  height: auto;
  padding: 8px 30px 8px 10px;
}

.autocomp-search .input-group input:focus,
.autocomp-search .input-group input:active,
.autocomp-search .input-group input:hover {
  background-color: #ededed;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.autocomp-search .input-group .btn {
  background-color: transparent;
  color: #999;
  font-size: 16px;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 10;
  margin: 4px;
}

.autocomp-search .input-group .btn:hover,
.autocomp-search .input-group .btn:active,
.autocomp-search .input-group .btn:focus {
  color: #333;
}

.autocomp-search .list-items {
  position: absolute;
  padding: 0;
  top: 48px;
  z-index: 100;
}

.autocomp-search .list-items li .name {
  font-weight: 600;
}

.autocomp-search .price {
  display: block;
  margin-top: 2px;
}

.autocomp-search .price:before {
  content: '$';
}

.autocomp-search .input-group input::-webkit-input-placeholder {
}

.autocomp-search .input-group input:-moz-placeholder {
}

.autocomp-search .input-group input::-moz-placeholder {
}

.autocomp-search .input-group input:-ms-input-placeholder {
}

/* Dynamic list items*/

.list-items {
  background-color: #f5f5f5;
  list-style: none outside none;
  margin: 0;
  width: 100%;
  z-index: 10;
}

.list-items li img {
  float: left;
  width: 30%;
  max-height: 70px;
}

.list-items li .info {
  float: left;
  width: 66%;
  padding: 0 0 0 4%;
}

.list-items li .name {
  font-size: 13px;
  line-height: 16px;
  font-weight: bold;
  text-transform: capitalize;
}

.list-items li {
  border-top: 1px dotted #2c89b1;
  float: left;
  padding: 10px;
  position: relative;
  width: 100%;
}

.list-items li:first-child {
  border-top: medium none;
}

.list-items li:hover {
  background: #90c8de;
}

.list-items li .btn {
  bottom: 10px;
  display: none;
  float: right;
  height: 29px;
  padding: 10px;
  position: absolute;
  right: 10px;
  top: 25px;
  width: 22px;
}

.list .badges {
  clear: both;
  margin-top: 12px;
}

.badges .label {
  border-radius: 15px;
  display: block;
  line-height: 1.2em;
  margin: 5px auto;
  padding: 4px 2px;
  width: 50%;
}

/*item - templates */

.single .badges .label {
  display: inline-block;
  margin: -5px 5px 15px auto;
  padding: 4px 12px;
  width: auto;
  font-size: 13px;
}

.col-xs-12.panel.price {
  width: 50%;
  margin-bottom: 30px;
}

.col-xs-12.panel.stock {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-weight: 600;
  margin-top: 24px;
}

.col-xs-12.panel.stock span {
  font-weight: 200;
}

.col-xs-12.panel.add-to-cart {
  width: 50%;
}

/* Quick Order*/

.header .wrap_quick_order {
  background-color: #f3f7f9;
  border: 1px solid #3a9bc0;
  display: none;
  padding: 10px 14px;
  position: absolute;
  top: 61px;
  z-index: 20;
}

.header .quick_order_list {
  clear: both;
}

.header .wrap_quick_order span {
}

.header .row_order {
  min-width: 190px;
}

.header .row_order input {
  border: 1px solid #cccccc;
  font-size: 13px;
  height: 30px;
  line-height: 30px;
  text-indent: 10px;
}

.header .row_order input:hover,
.header .row_order input:active,
.header .row_order input:focus {
  border-color: #6cb4d0;
}

.header .wrap_quick_order .list-items li.selected {
  background-color: #6cb4d0;
}

.header .row_order .item {
  margin: 0 0 10px;
  width: 72%;
}

.header .row_order .qty {
  margin: 0 0 0 10px;
  text-indent: 5px;
  width: 22%;
  padding: 0 0 0 1px;
}

.header .wrap_quick_order .btn {
  width: 100%;
}

.header .wrap_quick_order .fa {
  font-size: 16px;
  font-weight: 600;
  height: auto;
  margin: 0 0 10px 5px;
  padding: 5px 0;
  width: 25px;
}

.header .wrap_quick_order .fa:first-child {
  margin-left: 0;
}

.header .wrap_quick_order .fa.less {
  font-size: 22px;
  padding: 3px 0 7px;
}

.quick_order_list .list-items li a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  height: auto;
  text-align: left;
  width: auto;
}

.header .wrap_quick_order .list-items {
  margin-bottom: 10px;
  margin-top: -10px;
}

/* Footer */

.footer {
  background-color: #36a0d1;
  padding-top: 10px;
}

.footer .footer-wrap .top {
  padding-bottom: 50px;
  padding-top: 15px;
  background-color: #303133;
}

.footer .container > div[class*='col-'] {
  padding: 0;
  display: inline-flex;
}

.footer .top h4,
#main .top h4 {
  font-size: 16px;
  font-weight: 600;
}

.col-xs-12.usr > div {
  /* override bootstrap */
  padding: 0px 1%;
  width: 23%;
}

.footer .top h4,
#main .footer .top h4,
#main .footer .newsletter h5,
.footer .newsletter h5 {
  border-bottom: 2px solid #267092;
  color: #fff;
  padding-bottom: 8px;
}

.footer .newsletter h5,
#main .footer .newsletter h5 {
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
}

.footer .top ul,
#main .footer .top ul {
  list-style: none outside none;
  margin: 10px 0px;
  padding: 0;
}

.footer .top li,
#main .footer .top li {
  line-height: 22px;
  margin: 5px 0px;
  color: #f4f5f5;
}

.footer .top a,
#main .footer .top a {
  color: #f4f5f5;
  font-size: 15px;
}

.footer .top a:hover,
.footer .top a:active,
.footer .top a:focus {
  color: #2c89b1;
}

.footer .social {
  background-color: #2c89b1;
  padding: 0;
}

.footer .social h3 {
  border: medium none;
  font-size: 22px;
  padding: 0;
  text-transform: uppercase;
}

.footer .top .social ul,
#main .footer .top .social ul {
  background-color: #3399c0;
  margin: 0;
  padding: 10px 15px 0;
  width: 100%;
}

.footer .social ul .fa,
#main .footer .social ul .fa {
  background-color: #2c89b1;
  font-size: 16px;
  margin: 0 10px 10px 0;
  min-height: 40px;
  min-width: 40px;
  padding: 12px 10px;
  text-align: center;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.footer .social ul .fa:hover,
#main .footer .social ul .fa:hover {
  background-color: #1894bf;
}

.footer .social li:last-child .fa,
#main .footer .social li:last-child .fa {
  margin-right: 0;
}

.footer .newsletter {
  padding: 15px;
  position: relative;
}

.footer .newsletter span {
  font-weight: 600;
}

.footer .bottom .container {
  padding: 0;
}

.footer .footer-wrap button {
  margin: 20px 0px;
  font-size: 12px;
}

.footer .bottom {
  background-color: #ebf2f5;
  font-size: 13px;
  line-height: 40px;
}

.footer .bottom p {
  color: #3e5f6c;
  margin: 0;
}

.footer .bottom a {
  color: #2c89b1;
  margin-left: 20px;
}

.footer .bottom a:hover,
.footer .bottom a:active,
.footer .bottom a:focus {
  color: #2c89b1;
}

#main form#newsletter {
  margin: 0;
}

.footer .s-info {
  color: #fff;
  font-size: 12px;
  padding: 0 0 10px;
}

.footer .s-info span,
.footer .s-info a {
  font-size: 12px;
}

.get-in-touch a,
.address span {
  font-weight: 600;
}

.address {
  margin-top: 20px;
}

/* Left */

aside.sidebar {
  padding: 15px;
  vertical-align: top;
  margin-top: 300px;
  height: auto !important;
}

.sidebar aside {
  width: 180px;
}
td.col-xs-6.col-sm-3.sidebar.sidebar-offcanvas {
  padding: 0;
}
.sidebar .list-group {
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.sidebar a {
  color: #428bca;
  font-size: 14px;
  line-height: 1.6em;
}

.sidebar a:hover {
  color: #333;
}

.sidebar a.textboldnolink {
  font-weight: 600;
}

.sidebar .pic a,
.sidebar .pic img {
  display: none;
}

.sidebar .title {
}

.sidebar .breadcrumbs {
  display: none;
}

.sidebar td.smalltext[colspan='10'],
.sidebar td.textboldnolink[colspan='10'] {
}

.sidebar td.smalltext[colspan='9'],
.sidebar td.textboldnolink[colspan='9'] {
  padding-left: 8px;
}

.sidebar td.smalltext[colspan='8'],
.sidebar td.textboldnolink[colspan='8'] {
  padding-left: 18px;
}

.sidebar td.textboldnolink[colspan='7'],
.sidebar td.smalltext[colspan='7'] {
  padding-left: 30px;
}

/* Home */

.home #div__contentarea {
  margin: 0;
}

.home .top {
  padding-top: 0;
  padding-bottom: 30px;
}

.home .bottom {
  padding: 30px 0;
}

.home .bottom .container {
  padding: 0;
  max-width: 98vw;
}

.home .top section .row {
  margin: 0 auto;
}

.home .list-carousel {
  padding-top: 30px;
}

.home .list-carousel .cell {
  margin: 10px 0px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 350px;
}

.home img {
  height: auto;
  max-width: 100%;
  max-height: 325px;
}

/* Lists */

.list .bottom {
  clear: both;
  padding-right: 15px;
  padding-top: 20px;
  margin: 0 auto;
}

.list .row .cell:first-child {
  padding-left: 15px;
}

.list .top img {
  max-width: 100%;
}

.list .text {
  font-size: 14px;
}

.list .thumb {
  border: 1px solid #ddd;
  border-radius: 3px;
  overflow: hidden;
  padding: 0;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  -webkit-transition: all 0.2s ease-in-out 0s;
  min-height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
}

.category .thumb {
  padding: 20px;
}

.list .thumbnail {
  -webkit-box-shadow: inherit;
  box-shadow: inherit;
  vertical-align: middle;
}

.list .thumb:hover,
.list .thumb:focus,
.list .thumb.active {
  border-color: #39aadb;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.list a.thumbnail,
.list a.thumbnail:hover,
.list a.thumbnail:focus,
.list a.thumbnail.active {
  border-color: transparent;
  border-radius: 0;
}

.list .thumb .thumbnail {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.list .thumb > img,
.thumbnail > img {
  -webkit-box-shadow: inherit;
  box-shadow: inherit;
  padding: 0;
  max-height: 165px;
}

.text {
  color: #2f4c59;
}

.title {
  color: #0085b7;
}

.list .price table.bglt {
  margin: 6px auto 0;
}

.price table.bglt {
  border: 2px solid #e2e3e2;
  margin-top: 8px;
  width: 100%;
  text-align: left;
  font-weight: normal;
  text-transform: none;
  border-collapse: collapse;
  border-radius: 0.5em !important;
  overflow: hidden;
  background: #e2e3e2;
}

.price table.bglt .listheadernosort {
  background-color: #fff;
  color: #666666;
  font-size: 14px;
  height: 100%;
  padding: 5px !important;
  vertical-align: top;
}

.price table.bglt .texttable {
  background-color: #efeeee;
  color: #555;
  font-size: 12px;
  padding: 5px;
  vertical-align: top;
}

.price table.bglt tbody > tr:nth-child(2n + 1) > td,
.price table.bglt tbody > tr:nth-child(2n + 1) > th {
  background-color: #fff;
}

.item-compare {
  display: table;
  margin: 12px auto;
}

.item-compare input {
  float: left;
  margin: 7px 6px;
}

.list .sorting {
  float: right;
  margin: 10px 0 5px 0;
}

.list .sorting a {
  float: right;
  margin: 0 0 0 10px;
  padding: 8px 20px;
}

/* Cells */

.cell h3 {
  font-size: 16px;
  line-height: 1.4em;
}

.cell .list-block > h3 {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.category-blocks .cell .list-block > h3 {
  background-color: #36a0d1;
  border-radius: 0px 0px 3px 3px;
}

.category-blocks .cell .list-block > h3 a {
  color: white;
  font-size: 15px;
  padding: 10px;
}

.item-blocks .cell .list-block > h3 a {
  color: #555;
  font-size: 15px;
}

.items .cell .list-block > h3 {
  height: auto;
  font-size: 15px;
  margin: 10px 0px;
}

.items .cell > h3 a {
  color: #555;
}

.list .cell {
  padding-bottom: 25px;
  padding-right: 0;
  text-align: center;
  max-width: 225px;
  display: inline-block;
  vertical-align: top;
}

.list .price {
  font-size: 13px;
  font-weight: 600;
  color: #555;
}

.cell .shop {
  margin: 4px auto 20px;
}

.cell .price h3 {
  color: #3e5f6c;
  font-size: 18px;
  height: 30px;
  margin: 0;
}

.cell .shop table {
  margin: 0 auto;
}

.cell .shop table td {
  vertical-align: top;
}

.cell .price .qty-price {
  font-size: 14px;
  height: 30px;
}

.cell .price .qty-price a {
  color: #3e5f6c;
}

.cell .price .qty-price a:hover,
.cell .price .qty-price a:active {
  color: #2c89b1;
}

.cell .price .qty-price .btn {
  margin-right: 5px;
  margin-top: -3px;
}

.cell .price .qty-price .btn.active {
  padding: 0 4px;
}

.cell .opts {
  line-height: 2.5;
  padding: 0;
}

.cell .opts select {
  margin-bottom: 7px;
  padding: 4px 9px;
}

.cell .opts .smalltextnolink {
  font-size: 14px;
}

/* Product Page */

.single {
  padding: 30px 0;
}

.single .row.top > div div {
  padding-left: 0;
  padding-right: 0;
}

.single .row.top > div {
  padding-left: 0;
}

.single .desc {
  margin-bottom: 15px;
}

.single .panel {
  border: medium none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 5px;
}

.desc,
.desc p,
.desc span,
.desc font {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  font-size: 14px;
}

.single .row.top .image-gallery {
  padding-right: 20px;
}

.single .row .carousel-item {
  border-bottom: 2px solid #dedede;
  border-radius: 3px;
  margin: 0 auto;
  padding: 60px !important;
}

.single .carousel-thumbs {
  margin: 30px auto;
}

.single .carousel-inner {
  overflow: visible;
}

.single .row.top .carousel-thumbs .thumbnail {
  height: auto;
  margin-left: 10px;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.single .row.top .carousel-thumbs .thumbnail:first-child {
  margin-left: 0;
}

.single .carousel-thumbs a {
  cursor: pointer;
  margin: 0;
  padding: 0 0 10px;
}

.single .carousel-thumbs a:hover,
.single .carousel-thumbs a.selected {
  border-bottom: 2px solid #b2ccd8;
}

.single .carousel-thumbs img {
  max-height: 100%;
  opacity: 0.5;
}
.single .carousel-thumbs .active-thumbnail img {
  opacity: 1;
}
.single .carousel-thumbs .selected img {
  opacity: 1;
}

.single h3 {
}

.single h4 {
  font-size: 14px;
}

.single .price h3 {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  width: 90%;
  text-transform: uppercase;
  color: #555;
}

.single .price span {
  color: #2c89b1;
}

.single .price .sku {
  color: #3e5f6c;
  font-size: 12px;
  line-height: 3;
  padding: 0;
}

.single .price a {
  line-height: 30px;
}

.single .price .btn {
  margin-right: 6px;
}

.single .qty-price {
  color: #2c89b1;
  font-size: 14px;
}

.shop .cart-icon {
  float: left;
  margin-right: 12px;
  width: auto;
}

.shop input#qty {
  margin-right: 10px;
}

.stock,
.leadtime {
  margin: 0;
}

.stock h5,
.leadtime h5 {
  font-weight: 600;
  color: #555;
  font-size: 14px;
}

.stock h5 span.yes {
  color: #25953f;
}

.stock h5 span.no,
.leadtime h5 span.no {
  color: #c42a00;
}

.single .shop td {
  vertical-align: top;
}

.single .opts select {
  background-color: #fff;
  border: 1px solid #6cb4d0;
  cursor: pointer;
  padding: 5px;
}

.single .image-gallery .img-responsive {
  margin: auto;
  min-width: 50%;
  height: 350px;
}

/* Image Zoom */

.easyzoom {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.easyzoom img {
  vertical-align: bottom;
}

.easyzoom.is-loading img {
  cursor: progress;
}

.easyzoom.is-ready img {
  cursor: crosshair;
}

.easyzoom.is-error img {
  cursor: not-allowed;
}

.easyzoom-notice {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 150;
  width: 10em;
  margin: -1em 0 0 -5em;
  line-height: 2em;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 0 0 10px #888;
  box-shadow: 0 0 10px #888;
}

.easyzoom-flyout {
  border: 1px solid #dae6ed;
  position: absolute;
  z-index: 100;
  overflow: hidden;
  background: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}

.easyzoom--overlay .easyzoom-flyout {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.easyzoom--adjacent .easyzoom-flyout {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-left: 20px;
}

/* Information Item */

.info {
}

/* Compare Products */

.compare .btn {
  display: block;
}

.compare .thumbnail img {
  height: auto;
  width: 100%;
}

.compare .specs {
  background-color: #efefef;
}

.compare .thumbnail {
  margin-bottom: 0;
}

.compare .list .cell {
  padding: 10px;
}

.compare .cell h3 {
  font-size: 14px;
  line-height: 1.2em;
  margin-top: 10px;
}

.compare .list .price {
  font-size: 14px;
}

.compare .specs .cell:nth-child(2n) {
}

.compare .specs .cell:nth-child(2n + 1) {
  background-color: #f9f9f9;
}

.compare ul {
  line-height: 20px;
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

/* Wishlist Item*/

.single .row.top .wishlist {
  padding-left: 0px;
}

.wishlist a.login.btn.btn-default {
  padding: 10px 0px;
}

.single .row.top .wishlist .panel-default > .panel-heading {
  padding: 10px 15px;
  background-image: -o-linear-gradient(top, #f5f5f5 0, #efefef 100%);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #f5f5f5),
    to(#efefef)
  );
  background-image: linear-gradient(to bottom, #f5f5f5 0, #efefef 100%);
  background-repeat: repeat-x;
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffefefef', GradientType=0);
  border-color: #efefef;
}

.single .row.top .wishlist .panel-body {
  padding: 15px;
}

.wishlist .lists {
  margin-top: 5px;
}

.wishlist .lists input[type='checkbox'] {
  float: left;
  margin: 7px 5px 0 0;
}

.wishlist .lists label {
  line-height: 28px;
}

.wishlist .lists .panel {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.wishlist .grouplist {
  margin-bottom: 5px;
}

.wishlist .form-group {
  margin-bottom: 0;
}

.wishlist .new input {
  clear: both;
  margin-bottom: 10px;
}

.single .row.top .wishlist .alert {
  font-size: 14px;
  line-height: 2;
  padding: 10px;
}

/* Wishlist Template */

.wishlist.admin {
  padding-top: 0;
}

.wishlist.admin .lists .panel {
  -webkit-box-shadow: inherit;
  box-shadow: inherit;
  margin-left: 1px;
}

.wishlist.admin .panel-default > .panel-heading {
  float: left;
  margin-bottom: 20px;
  padding: 15px 25px;
  width: 100%;
}

.wishlist.admin .panel-default > .panel-heading div {
  padding: 0;
}

.wishlist.admin .top {
  padding: 40px 30px 20px 20px;
}

.wishlist.admin .panel-default > .panel-heading label {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 10px 0 0 10px;
}

.wishlist.admin .panel-default > .panel-heading .form-control {
  cursor: pointer;
  margin-top: 6px;
  width: 40%;
}

.wishlist.admin .panel-body span {
  display: block;
  font-size: 14px;
  line-height: 1.8;
}

.wishlist.admin .cell .thumbnail {
  float: left;
  margin-right: 15px;
  max-width: 200px;
}

.wishlist.admin .cell div {
  font-size: 14px;
}

.wishlist.admin .modal {
}

.wishlist.admin .modal label {
  font-size: 14px;
  line-height: 2em;
}

.wishlist.admin .icon {
  cursor: default;
  font-size: 14px;
}

.wishlist.admin .panel-heading .icon {
  color: #5cb85c;
  cursor: pointer;
  font-size: 14px;
}

.wishlist.admin .description {
  font-size: 11px;
}

.wishlist.admin .description span {
  display: inline;
}

.wishlist.admin #list-pass {
  float: right;
  font-size: 12px;
  height: 30px;
  margin-top: 10px;
  width: 145px;
}

.wishlist.admin .tooltip.top {
  min-width: 200px;
}

.wishlist.admin .items .cell {
  padding-left: 0;
}

.wishlist.admin .items .title h1 {
  font-size: 24px;
  line-height: 1.8;
  margin-bottom: 0;
}

.wishlist.admin .items .price span,
.wishlist.admin .items .qty span,
.wishlist.admin .items .priority span {
  display: inline;
  font-size: 12px;
  font-weight: 600;
}

.wishlist.admin .btn-primary {
  margin-bottom: 8px;
}

.wishlist.admin .items .priority select {
  width: 120px;
}

/* Headings */

.title h1 {
  color: #0c3646;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 20px;
}

/* Buttons */

#addtocart,
.bgbutton, .nlbutton,
.btn.btn-primary,
#main .btn-primary {
  background-color: #36a0d1;
  border: medium none;
  border-radius: 1px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0px;
  text-shadow: inherit;
  border-radius: 3px;
  width: 100%;
}

.bgbutton, .nlbutton {
  padding: 10px;
}

.nlbutton {
  /* border: medium none !important; */
  margin: 0 2px;
}

#addtocart:hover,
#addtocart:active,
#addtocart:focus,
.bgbutton:hover,
.bgbutton:active,
.bgbutton:focus,
.btn-primary:hover,
.btn-primary:focus,
#main .btn-primary:hover,
#main .btn-primary:active,
#main .btn-primary:focus {
  background-color: #277092;
}

.btn-default,
.btn-primary,
.btn-info,
.btn-success {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn,
.sorting a {
  background-image: none;
  border: medium none;
  border-radius: 1px;
  color: #ffffff;
  cursor: pointer;
  padding: 10px 30px;
  text-shadow: inherit;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
}

.btn-default,
.nav-tabs .btn-default,
.sorting a {
  background-color: #fff;
  color: #36a0d1;
}

.btn-default.active,
.btn-default:hover,
.btn-default:focus,
.sorting a:hover,
.sorting a:focus,
.sorting a:active {
  background-color: #fff;
  color: #36a0d1;
}

i.fa.fa-heart-o {
  font-size: 18px;
  color: #277092;
}

.btn-secondary,
.nlbutton {
  border: 1px solid #fff;
}

.btn-secondary.active,
.btn-secondary:hover,
.btn-secondary:focus,
.nlbutton.active,
.nlbutton:hover,
.nlbutton:focus {
  background-color: #fff;
  border: 1px solid #6cb4d0;
  color: #2c89b1;
}

.btn-drop {
  padding: 8px 15px;
}

.btn-drop span {
  font-weight: 400;
}

.btn-drop .fa {
  margin-left: 10px;
}

.btn-drop:hover,
.btn-drop:focus {
}

.btn-tab {
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px 35px;
}

.btn-tab.active,
.btn-tab:hover,
.btn-tab:active,
.btn-tab:focus,
.nav-tabs .btn-tab.active,
.nav-tabs .btn-tab:hover,
.nav-tabs .btn-tab:active,
.nav-tabs .btn-tab:focus,
.nav-tabs > li.active > .btn,
.nav-tabs > li.active > .btn:hover,
.nav-tabs > li.active > .btn:focus {
  background-color: #36a0d1;
  border: 1px solid #36a0d1;
  -webkit-box-shadow: inherit;
  box-shadow: inherit;
  color: #fff;
}

.marketingzone .btn-default,
.marketingzone .nav-tabs .btn-default,
.marketingzone .sorting a {
  border: 1px solid #555;
  color: #555;
}

.marketingzone .btn-tab.active,
.marketingzone .nav-tabs .btn-default.active,
.marketingzone .sorting a.active,
.marketingzone .btn-tab:hover,
.marketingzone .nav-tabs .btn-default:hover,
.marketingzone .sorting a:hover {
  color: white;
  border: 1px solid #36a0d1;
}

/* Tooltips */

.tooltip.top {
  margin-top: -3px !important;
  padding: 5px 0 !important;
}

.tooltip-inner {
  background-color: #2c89b1;
  color: #fff;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #2c89b1;
}

/* Inputs */

input,
.form-control {
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
}

input.input,
input.inputreq,
select,
select.inputreq,
textarea,
.input {
  background: none repeat scroll 0 0 #f0eff0;
  color: black;
  font-size: 15px;
  padding: 9px;
}

.list input.input,
.list input.inputreq,
.list select,
.list select.inputreq,
.list textarea,
.list .input {
  padding: 0;
}

input.input:hover,
input.inputreq:hover,
select:hover,
textarea:hover {
  border-color: #569dbf;
}

input.input:focus,
input.inputreq:focus,
select:focus,
textarea:focus {
  border-color: #569dbf;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  z-index: 2;
}

input.inputreq,
input.input {
}

select,
select.inputreq {
  cursor: pointer;
}

input#qty {
  text-align: center;
  text-align: center;
  border-radius: 3px;
  border: 2px solid #c9c9c9;
  width: 55px;
}

input.number {
  width: 60px;
}

/* Main Carousel */

.main-carousel {
  -webkit-box-shadow: 0 9px 8px -8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 9px 8px -8px rgba(0, 0, 0, 0.3);
}

.main-carousel .carousel-inner {
  background: url('/site/suiteoffice/img/loader-48.gif') no-repeat scroll center
    center transparent;
}

.carousel-inner {
  margin: 0 auto;
}

.main-carousel .item,
.carousel-item .item {
  float: left;
  left: 0 !important;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  width: 100%;
}

.main-carousel .next.left,
.main-carousel .prev.right {
  opacity: 1;
  z-index: 1;
}

.main-carousel .active.left,
.main-carousel .active.right,
.carousel-item .active.left,
.carousel-item .active.right {
  opacity: 0;
  z-index: 2;
}

.main-carousel .carousel-control,
.main-carousel .carousel-control:active,
.main-carousel .carousel-control:focus {
  background-image: none !important;
  opacity: 0.1;
}

.main-carousel .carousel-control:hover {
  opacity: 0.6;
}

.carousel-items {
  max-width: 98vw;
  margin: 30px auto;
}

.main-carousel .fa.fa-1 {
  color: #ffffff;
  font-size: 60px;
  font-weight: bold;
  opacity: 1;
  position: absolute;
  top: 42%;
}

.main-carousel .carousel-indicators li {
  border-color: #ddd;
  border-radius: 0;
  cursor: pointer;
  height: 12px;
  margin: 0 0 0 8px;
  width: 12px;
}

.main-carousel .carousel-indicators li.active {
  background-color: #fff;
  border-color: #fff;
}

.main-carousel .carousel-indicators {
  z-index: 13;
}

.main-carousel .carousel-caption {
  text-align: left;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  top: 5%;
  z-index: 10;
}

.main-carousel .carousel-caption.pos-top-left {
  margin: 0;
}

.main-carousel .carousel-caption.pos-top-center {
  margin: 0 auto;
  text-align: center;
}

.main-carousel .carousel-caption.pos-top-right {
  margin: 0;
  text-align: right;
}

.main-carousel .carousel-caption.pos-center-left {
  margin: 5% 0 0;
}

.main-carousel .carousel-caption.pos-center-center {
  margin: 5% auto 0;
  text-align: center;
}

.main-carousel .carousel-caption.pos-center-right {
  margin: 5% 0 0;
  text-align: right;
}

.main-carousel .carousel-caption.pos-bottom-left {
  margin: 9% 0 0;
}

.main-carousel .carousel-caption.pos-bottom-center {
  margin: 9% auto 0;
  text-align: center;
}

.main-carousel .carousel-caption.pos-bottom-right {
  margin: 9% 0 0;
  text-align: right;
}

.main-carousel .carousel-caption h2 {
  color: #ebf5f7;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 10px;
}

.main-carousel .carousel-caption h2 span {
  font-weight: 600;
}

.main-carousel .carousel-caption h2 font {
  font-size: larger;
  line-height: 1.2;
}

.main-carousel .carousel-caption p {
  color: #ebf5f7;
  font-size: 2em;
  font-weight: 200;
  line-height: 1.6em;
  margin-bottom: 15px;
}

.main-carousel .carousel-caption p span {
  font-weight: 400;
}

.main-carousel .carousel-caption .btn {
  font-size: 18px;
  font-weight: 200;
  padding-left: 20px;
}

.main-carousel .carousel-caption .btn .icon {
  background-position: -192px -16px;
  height: 15px;
  margin-left: 10px;
  width: 18px;
}

.main-carousel .shadow-layer {
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: background-color 0.5s ease 0s;
  -o-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
  width: 100%;
}

.main-carousel:hover .shadow-layer {
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: background-color 0.5s ease 0s;
  -o-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
}

/* Item Carousel */

.list-carousel {
}

.list-carousel .cell {
  width: 25%;
}

.list-carousel .cell h3 {
  line-height: 1.2em;
  text-align: center;
  font-weight: 200;
  max-width: 100%;
}

.list-carousel .cell a {
  font-size: 15px;
  color: #555;
  width: 100%;
  margin: 10px auto;
}

.list-carousel .thumbnail {
  height: 200px;
  overflow: hidden;
  padding: 15px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.list-carousel .price {
  font-size: 16px;
  font-weight: 600;
  color: #555;
}

.list-carousel .thumbnail img {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
  max-height: 100%;
  width: auto;
  max-width: 90%;
  margin: 0;
}

.list-carousel .tabs > div {
  padding-left: 0;
  padding-right: 0;
}

.list-carousel .btn.fa {
  border: 1px solid #66b1ce;
  border-radius: 0;
  float: left;
  font-size: 18px;
  height: auto;
  line-height: 20px;
  margin: 0 0 0 -1px;
  padding: 10px 12px;
  width: 50%;
}

.list-carousel .btn.fa:hover,
.list-carousel .btn.fa:active,
.list-carousel .btn.fa:focus {
  background-color: #379fc3;
  color: #fff;
}

.list-carousel .btn.fa:first-child {
  margin-left: 1px;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #2c89b1;
}

/* Social - Share - Rating */

.social ul {
  margin: 0 25px 0 0;
}

.social li {
  display: inline-block;
  list-style: none outside none;
}

.share span {
  margin-right: 8px;
}

.rating li {
  margin-right: 5px;
}

.rating a {
  margin-left: 2px;
}

/* Tabs */

.tab-content {
  font-size: 13px;
  margin-top: 20px;
}

.tabs li {
  float: left;
  margin-left: -1px;
  list-style: none outside none;
}

.tabs li:first-child {
  margin-left: 0;
}

.tabs li:first-child h5 {
  border-radius: 3px 0px;
}

.tabs li:last-child h5 {
  border-radius: 0px 3px;
}

.tabs .btn {
  border-radius: 0;
  position: relative;
}

.tabs ul .btn-tab.active .fa,
.tabs li.active .btn-tab .fa {
  display: block;
}

.tabs .nav-tabs .btn .fa {
  bottom: -7px;
  display: none;
  color: #379fc3;
  font-size: 20px;
  left: 0;
  line-height: 10px;
  margin: 0 auto;
  position: absolute;
  right: 0;
  text-align: center;
}

.nav-tabs {
  border-bottom: 1px solid #555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Forms */

.form {
}

.form-group {
  position: relative;
}

.form .inputreq,
.form .input,
#main .form .inputreq,
#main .form .input {
  background-color: #fff;
  border: medium none;
  color: #666;
  font-size: 14px;
  height: auto;
  margin: 0;
  padding: 10px 40px 10px 15px;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  width: 100%;
}

.form .inputreq:hover,
.form .inputreq:focus,
.form .inputreq:active,
.form .input:hover,
.form .input:focus,
.form .input:active {
  background-color: #ededed;
}

.newsletter.form .btn,
#main .footer .form .btn {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #999;
  text-shadow: inherit;
  bottom: 23px;
  font-size: 16px;
  padding: 0;
  position: absolute;
  right: 25px;
}

.form .btn:hover {
  color: #333;
}

.form.default .btn {
  background-image: none;
  border: medium none;
  border-radius: 1px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 200;
  padding: 10px 30px;
  text-shadow: inherit;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  position: inherit;
  height: auto;
  width: auto;
}

.form.default .btn.btn-primary {
  background-color: #f15921;
  border: medium none;
  border-radius: 1px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 30px;
}

.form.default .inputreq,
.form.default .input {
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  -webkit-transition: border-color 0.15s ease-in-out 0s,
    -webkit-box-shadow 0.15s ease-in-out 0s;
  transition: border-color 0.15s ease-in-out 0s,
    -webkit-box-shadow 0.15s ease-in-out 0s;
  -o-transition: border-color 0.15s ease-in-out 0s,
    box-shadow 0.15s ease-in-out 0s;
  -webkit-transition: border-color 0.15s ease-in-out 0s,
    -webkit-box-shadow 0.15s ease-in-out 0s;
  transition: border-color 0.15s ease-in-out 0s,
    -webkit-box-shadow 0.15s ease-in-out 0s;
  -o-transition: border-color 0.15s ease-in-out 0s,
    box-shadow 0.15s ease-in-out 0s;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s,
    -webkit-box-shadow 0.15s ease-in-out 0s;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s,
    -webkit-box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}

.form.default textarea.inputreq {
  height: auto;
}

.newsletter.form .alert {
  font-size: 1.2em;
  margin: 10px 0;
  padding: 10px 15px;
}

/* My Account (site builder) */

#servercontentneg519_splits {
  padding: 40px 20px 0;
}

#servercontentneg521_splits {
  padding-top: 40px;
}

.ext-strict .breadcrumbs .container {
  display: none;
}

.ext-strict body {
  overflow: auto !important;
}

.ext-strict .portletHandle .textboldnolink {
  color: #0085b7;
  font-size: 22px;
  font-weight: 400;
  padding-bottom: 5px;
}

.ext-strict .bglt {
  background-color: transparent;
}

.ext-strict .sidebar .bglt {
  border-bottom: 1px solid #dae6ed;
  padding-bottom: 20px;
}

.ext-strict .portletlabel {
  background-color: transparent;
  border-bottom: 1px solid #333;
  color: #333;
  font-size: 16px;
  line-height: 30px;
}

.ext-strict .portletlabel b {
  font-weight: 400;
}

.ext-strict .smalltextb {
  font-size: 12px;
  font-weight: 300;
}

.ext-strict .sidebar .smalltextb {
  padding: 8px 0 3px;
}

.ext-strict .input,
.ext-strict .inputreadonly,
.ext-strict .inputtotalling,
.ext-strict .totallingcurrency {
  font-size: 13px;
  font-weight: 300;
  min-width: 100px;
}

.ext-strict .nlbutton {
  background-image: none;
  border: 1px solid #6cb4d0;
  border-radius: 1px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 200;
  padding: 10px 30px;
}

.ext-strict .sidebar .nlbutton {
  margin-top: 15px;
}

.ext-strict .sidebar .title {
  display: none;
}

.ext-strict .smalltextbnolink {
  font-size: 13px;
  font-weight: 400;
  padding-bottom: 5px;
  text-decoration: none;
}

#servercontentneg519_splits .bgmd {
  background-color: transparent;
}

.ext-strict .name-portlet {
  font-size: 13px;
}

.ext-strict .pic,
.sidebar .iBullet {
  display: none;
}

.smalltext {
  color: #3e5f6c;
  font-size: 12px;
}

.ext-strict table,
.ext-strict tr,
.ext-strict td,
.ext-strict tbody,
.ext-strict tfoot,
.ext-strict thead,
.ext-strict th {
  vertical-align: middle;
}

.ext-strict .main,
.ext-strict .main + td {
  vertical-align: top;
}

.ext-strict #div__body img {
  vertical-align: inherit;
}

.tabBnt .bntBgB,
.tabBnt_sel .bntBgB,
.pgBntG .bntBgB {
  vertical-align: top;
}

.pgBntG img,
.pgBntG_sel img,
.pgBntY img,
.pgBntY_sel img,
.pgBntGDis img,
.pgBntYDis img {
  height: 10px;
}

.ext-strict input.input,
.ext-strict input.inputreq,
.ext-strict select,
.ext-strict select.inputreq,
.ext-strict .input,
.ext-strict .inputreadonly,
.ext-strict .inputtotalling,
.ext-strict .totallingcurrency {
  font-size: 12px;
  padding: 5px;
}

.ext-strict .dropdownInput {
  margin: 4px 0;
}

.ext-strict .inputreadonly span.input {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
}

.table_fields .effectHover,
.table_fields .effectHover_roll,
.table_fields .effectHover_focus,
.table_fields .effectDisabled,
.table_fields .ext-strict .effectStatic {
  padding: 5px 0;
}

.ext-strict span input.checkbox {
  left: 0;
  top: -7px;
}

.ext-strict .bgbutton {
  margin-right: 10px;
}

.ext-strict .crosslinktitle {
  color: #3e5f6c;
}

.ext-strict .pt_container {
  height: 29px;
  margin-bottom: 10px;
}

.ext-strict .sidebar .portletHandle .textboldnolink {
  font-size: 13px;
}

.ext-strict .pt_body {
  height: 29px;
}

.ext-strict .effectStatic td[bgcolor*='#'] {
  display: none;
}

.ext-strict .sidebar aside {
  min-width: 180px;
}

.ext-strict td.sidebar {
  background: -o-linear-gradient(left, #fff 96%, #f1f1f1 100%);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(96%, #fff),
    to(#f1f1f1)
  );
  background: linear-gradient(to right, #fff 96%, #f1f1f1 100%);
  background: -webkit-linear-gradient(left, #fff 96%, #f1f1f1 100%);
  -webkit-box-shadow: 1px 0 #eee;
  box-shadow: 1px 0 #eee;
  vertical-align: top;
}

.ext-strict aside.sidebar {
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ext-strict #div__contentarea .list-table {
  margin: 30px 0 0 20px;
}

.ext-strict .pt_container {
  margin-top: 20px;
}

.ext-strict #div__footer,
.ext-strict #footer {
  margin-top: 20px;
}

/* NetSuite Default */

#server_commands {
  display: none;
}

/* Reference */

#main .step-header {
  color: #3e5f6c;
}

#main header .wizard-step-groups,
#main .view-header .breadcrumb {
  color: #0c3646;
  font-size: 12px;
  padding: 15px 0 0;
  text-transform: none;
}

#main .breadcrumb > li > .divider {
  color: #0c3646;
  padding: 0;
}

#main .breadcrumb > .active {
  color: #0c3646;
}

/* Overwritten Bootstrap Styles */

.page-header {
  border-bottom: medium none;
  margin: 0;
  padding-bottom: 0;
}

.thumbnail {
  border-color: #ddd;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Store Locator */

.store-locator .container {
  padding: 0;
}

.store-locator #wrap-stores-list {
  float: left;
  position: absolute;
  z-index: 1;
  height: 50%;
  margin-top: 5%;
  margin-left: 2%;
}

.store-locator #wrap-stores-list div {
  padding: 0;
}

.store-locator .popover {
  display: block;
  position: relative;
}

.store-locator .popover-title {
  background-color: #0c3646;
  color: #fff;
}

.store-locator #wrap-stores-list .popover:hover {
  background-color: #ededed;
  cursor: pointer;
}

.store-locator #input-search,
#select-distance {
  text-align: center;
}

.store-locator .store-list {
  max-height: 470px;
  overflow-y: auto;
  padding: 0;
}

.store-locator #map-canvas .popover {
  border: none;
}

.store-locator select {
  padding: 8px 5px 7px;
}

/* header logo */

.header .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: auto;
}

.header .logo img {
  padding: 10px 15px;
}

.header .logo img.logo-img {
  width: 120px;
  height: auto;
}

.header .logo img.reward {
  height: auto;
  width: 130px;
  border-left: 0.5px solid #adadad;
}
/* added for category/grid view */
@media (max-width: 1000px) {
  .list .cell {
    width: 45%;
    max-width: initial;
  }
  .items .cell {
    height: 290px;
  }
}
@media (max-width: 768px) {
  /* Item template */
  .item-template .mobile {
    display: block;
  }
  .item-template .desktop {
    display: none;
  }
  .item-template .row.top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 2em;
  }
  .single .row.top .image-gallery {
    max-width: 100%;
  }
  .col-xs-12.panel.price {
    width: 100%;
    margin-bottom: 5px;
  }
  .single .price h3,
  .col-xs-12.panel.stock,
  .col-xs-12.panel.add-to-cart,
  .shop table {
    width: 100%;
  }
  .shop .smalltext {
    width: 10%;
    min-width: 60px;
  }
  input#qty {
    width: 60px;
  }
  .wishlist a.login.btn.btn-default {
    padding: 0px 0px 10px;
  }
  .item-template .carousel-inner > .active {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .tabs ul .btn-tab.active .fa.fa-angle-down {
    display: block;
  }
  .item-template .list-carousel .row.item.active .cell:first-child,
  .item-template .list-carousel .row.item.active .cell:last-child {
    padding-left: 15px;
    padding-right: 15px;
  }
  .list-carousel .cell {
    width: 50%;
  }
  /* Header */
  .top-header-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .header .middle .container {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .header .logo {
    float: none;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 90%;
  }
  .header .logo img.logo-img {
    width: 82px;
  }
  .header .logo img.reward {
    width: 95px;
  }
  .cart-login-container {
    margin: 5px auto;
    text-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .header .usr-icon,
  .header .cart-icon {
    display: inline-block;
    float: none;
    margin: 0;
  }
  .header .usr-icon a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    vertical-align: unset;
    margin: 0 auto;
    -webkit-box-sizing: unset;
    box-sizing: unset;
    padding: 1px 0px;
    width: auto;
    height: 40px;
  }
  .header .usr-icon > ul > li > a span {
    font-size: 12px;
  }
  .header .cart-icon a {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1px 10px;
    height: 40px;
  }
  .header .usr-icon .icon {
    margin: 0;
    padding: 0px 23px;
    font-size: 14px;
  }
  .usr-icon .login a {
    border-left: 0.5px;
    border-right: 0.5px;
  }
  .header .cart-icon .icon {
    margin: 0;
    padding: 10px 10px 10px 0;
    font-size: 14px;
  }
  .header .container .autocomp-search {
    margin: 0 0 10px;
  }
  .header .nav a {
    font-size: 14px;
    margin: 0;
  }
  .navbar-form.autocomp-search .input-group input {
    margin-top: 0;
  }
  .autocomp-search .input-group .btn {
    height: 36px;
    right: 2px;
    top: 1px;
    width: 40px;
    margin: 0px;
  }
  .autocomp-search .input-group .btn:hover,
  .autocomp-search .input-group .btn:active,
  .autocomp-search .input-group .btn:focus {
    color: #333;
  }
  .autocomp-search .list-items {
    position: absolute;
    padding: 0;
    top: 48px;
    z-index: 100;
  }
  .autocomp-search .list-items li .name {
    font-weight: 600;
  }
  .autocomp-search .price {
    display: block;
    margin-top: 2px;
  }
  .autocomp-search .price:before {
    content: '$';
  }
  .autocomp-search .input-group input::-webkit-input-placeholder {
  }
  .autocomp-search .input-group input:-moz-placeholder {
  }
  .autocomp-search .input-group input::-moz-placeholder {
  }
  .autocomp-search .input-group input:-ms-input-placeholder {
  }
  /* Dynamic list items*/
  .list-items {
    background-color: #f5f5f5;
    list-style: none outside none;
    margin: 0;
    width: 100%;
    z-index: 10;
  }
  .list-items li img {
    float: left;
    width: 30%;
    max-height: 70px;
  }
  .list-items li .info {
    float: left;
    width: 66%;
    padding: 0 0 0 4%;
  }
  .list-items li .name {
    font-size: 13px;
    line-height: 16px;
    font-weight: bold;
    text-transform: capitalize;
  }
  .list-items li {
    border-top: 1px dotted #2c89b1;
    float: left;
    padding: 10px;
    position: relative;
    width: 100%;
  }
  /* footer */
  .col-xs-12.usr > div {
    /* override bootstrap */
    padding: 0px;
    width: 100%;
  }
  /* Home */
  .home .top {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .tabs ul .btn-tab.active .fa,
  .tabs li.active .btn-tab .fa {
    display: none;
  }
  .home .carousel-items {
    margin: 20px 0px;
  }
  .list-carousel .cell a {
    font-size: 13px;
  }
  .carousel-inner {
    max-width: 94%;
  }
  .list-carousel .tabs > div.col-sm-7 {
    display: none;
  }
  .tabs .btn {
    padding: 10px 20px;
  }
  .main-carousel .carousel-caption p {
    font-size: 4vw;
  }
  .main-carousel .carousel-caption.pos-top-left {
  }
  .main-carousel .carousel-caption.pos-top-center {
  }
  .main-carousel .carousel-caption.pos-top-right {
  }
  .main-carousel .carousel-caption.pos-center-left {
  }
  .main-carousel .carousel-caption.pos-center-center {
  }
  .main-carousel .carousel-caption.pos-center-right {
  }
  .main-carousel .carousel-caption.pos-bottom-left {
  }
  .main-carousel .carousel-caption.pos-bottom-center {
  }
  .main-carousel .carousel-caption.pos-bottom-right {
  }
  .main-carousel .carousel-caption.pos-center {
    margin: 0;
  }
  .list-items li .btn {
    bottom: 10px;
    display: none;
    float: right;
    height: 29px;
    padding: 10px;
    position: absolute;
    right: 10px;
    top: 25px;
    width: 22px;
  }
  .list .badges {
    clear: both;
    margin-top: 12px;
  }
  .badges .label {
    border-radius: 15px;
    display: block;
    line-height: 1.2em;
    margin: 5px auto;
    padding: 4px 2px;
    width: 50%;
  }
  .tabs .btn {
    padding: 8px 20px;
  }
  .header .row_order .qty {
    margin: 0 0 0 10px;
    text-indent: 5px;
    width: 22%;
    padding: 0 0 0 1px;
  }
  .nav-tabs {
    border-bottom: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
  .tabs li {
    width: 100%;
    margin: 0;
  }
  .tabs li:first-child h5,
  .tabs li:last-child h5 {
    border-radius: 0px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0px;
  }
  /* Cell */
  .category h2.title,
  .row.bottom.container .row {
    margin-left: auto;
  }

  .header .wrap_quick_order .fa:first-child {
    margin-left: 0;
  }
  /* category  */
  .category .thumb {
    padding: 20px;
    min-height: 170px;
    margin-bottom: 10px;
  }
  .category-blocks .cell > h3 a {
    font-size: 13px;
    line-height: 16px;
  }
  .items .cell > h3 a {
    font-size: 13px;
    line-height: 16px;
  }
  .list .price {
    font-size: 11px;
  }
  .list h1.title {
    font-size: 5vw;
  }
}

@media (max-width: 480px) {
  .main-carousel .carousel-caption .btn {
    display: none;
  }
  .header .wrap_quick_order .list-items {
    margin-bottom: 10px;
    margin-top: -10px;
  }
  .list-carousel .thumbnail {
    height: 150px;
  }
}

@media (max-width: 330px) {
  /* category */
  .list .cell {
    width: 100%;
    max-width: initial;
    padding: 0;
  }
  .list .row .cell:first-child {
    padding-left: 0;
  }

  /* Header */
  .header .navbar-collapse .usr-icon ul {
    margin: 10px 0 0;
  }
  .cart-icon span {
    display: none;
  }
  /* Home */
  .main-carousel .carousel-caption h2 {
    color: #ebf5f7;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  .main-carousel .carousel-caption h2 span {
    font-weight: 600;
  }
  .main-carousel .carousel-caption h2 font {
    font-size: larger;
    line-height: 1.2;
  }
  .main-carousel .carousel-caption p {
    color: #ebf5f7;
    font-size: 2em;
    font-weight: 200;
    line-height: 1.6em;
    margin-bottom: 15px;
  }
  .main-carousel .carousel-caption p span {
    font-weight: 400;
  }
  .main-carousel .carousel-caption .btn {
    font-size: 18px;
    font-weight: 200;
    padding-left: 20px;
  }
  .main-carousel .carousel-caption .btn .icon {
    background-position: -192px -16px;
    height: 15px;
    margin-left: 10px;
    width: 18px;
  }
  .main-carousel .shadow-layer {
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: background-color 0.5s ease 0s;
    -o-transition: background-color 0.5s ease 0s;
    transition: background-color 0.5s ease 0s;
    width: 100%;
  }
  .main-carousel:hover .shadow-layer {
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: background-color 0.5s ease 0s;
    -o-transition: background-color 0.5s ease 0s;
    transition: background-color 0.5s ease 0s;
  }
  /* Item Carousel */
  .list-carousel {
  }
  .list-carousel .cell {
  }
  .list-carousel .cell h3 {
    line-height: 1.2em;
    text-align: center;
  }
  .list-carousel .cell a {
    font-size: 14px;
  }
  .list-carousel .thumbnail {
    height: auto;
  }
}

/* end of header styles*/
/* Fixes */
html body div#div__footer.noprint footer#footer.footer div.footer-wrap div.row.top div.container div.col-xs-12.usr div.col-xs-12.col-sm-6.col-md-4.col-lg-3,
.col-xs-12.col-sm-4.col-md-3.logo-container,
.col-xs-3.col-sm-4.col-md-3.cell.category_cell,
.col-xs-12.panel.price,
.col-xs-12.panel.add-to-cart {
  float: left;
}
#handle_itemMainPortlet > td:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr > td {
  padding: 5px 10px;
  font-size: 14px;
}
/* Edge */
tr[height="85"] {
  height: 0;
}

/* cart content */

/* .texttablectr, .texttable, .texttablert, .extcartbordershaded, .extcarttotalshaded{
  background-color: #36a0d1;
} */

h2.esp-carousel{
    background-color: #267092 !important;
    margin-bottom: 20px;
    height: 40px;
    font-size: x-large;
    width: 100%;
    text-align: inherit;
    text-transform: none;
    font-weight: bold;
    padding-top: 15px;
}

.fa-angle-down{
    float: right;
}

.av-special-heading-tag{
  font-size: 36px;
  font-weight: 600;
}

