<!-- Info Item Template -->
<!-- addition to head start -->
<style type="text/css">
  .sidebar,
  table td.sidebar,
  td.col-xs-6.col-sm-3.sidebar.sidebar-offcanvas {
    display: none;
  }
  .breadcrumbs .breadcrumbs-wrap,
  .breadcrumbs .breadcrumbs-wrap a {
    color: #36a0d1;
  }
  .row.bottom.main-desc
 {
    padding: 20px;
    margin-top: 40px;
    width: 100%;
  }
</style>
<!-- addition to head end -->
<!-------------- Start of Item Template --------------->
<td class="single">
  <div class="rwd single container">
    <div class="item-template">
      <div class="row top">
        <div class="col-xs-12 col-sm-6 image-gallery">
          <div class="title mobile">
            <h1>
              <%= getCurrentAttribute('item','storedisplayname')%>
            </h1>
          </div>
          <div id="single-carousel" class="row carousel carousel-item slide">
            <div class="carousel-inner">
              <div
                class="item active easyzoom easyzoom--overlay"
                data-slide-number="0"
              >
                <a
                  href="<%= getCurrentAttribute('item','storedisplaythumbnail','/site/assets/images/global_imgs/noimage.jpg')%>"
                >
                  <img
                    src="<%= getCurrentAttribute('item','storedisplaythumbnail','/site/assets/images/global_imgs/noimage.jpg')%>"
                    class="img-responsive"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="title desktop">
            <h1>
              <%= getCurrentAttribute('item','storedisplayname')%>
            </h1>
          </div>
          <hr />
          <div class="col-xs-12 desc">
            <%= getCurrentAttribute('item','storedescription')%>
          </div>
          <div class="col-xs-12 desc">
            <%= getCurrentAttribute('item','featureddescription')%>
          </div>
        </div>
      </div>
      <div class="row bottom main-desc">
        <%= getCurrentAttribute('item','storedetaileddescription')%>
      </div>
    </div>
  </div>
</td>
<!-------------- End of Item Template --------------->
