<!-- SuiteCommerce : QuickStart : [Base] - Item List Cell -->
<!-------------- Beginning of Template --------------->
<td class="col-xs-3 col-sm-4 col-md-3">
  <div
    class="cell"
    data-form="form<%=getCurrentAttribute('item', 'internalid')%>"
  >
    <div class="thumb">
      <div class="wrap">
        <a href="<%=getCurrentAttribute('item','storeurl')%>" class="thumbnail">
          <img
            src="<%=getCurrentAttribute('item','storedisplaythumbnail','/site/assets/images/global_imgs/noimage.jpg')%>"
            alt="<%=getCurrentAttribute('item','storedisplayname')%>"
          />
        </a>
      </div>
    </div>
    <h3>
      <a href="<%=getCurrentAttribute('item','storeurl')%>"
        ><%=getCurrentAttribute('item','storedisplayname')%></a
      >
    </h3>
    <div class="price">
     <!-- <%=getCurrentAttribute('item','pricelevel5', '')%> -->
      <%=getCurrentAttribute('item','salesPriceHtml')%>
    </div>
  </div>
</td>
<!-------------- End of Template --------------->
