<!-- SO : QuickStart : [Base] - Item Drilldown -->
<!-- addition to head start -->
<style type="text/css">
  table td.sidebar,
  td.col-xs-6.col-sm-3.sidebar.sidebar-offcanvas {
    display: none;
  }

  .breadcrumbs .breadcrumbs-wrap,
  .breadcrumbs .breadcrumbs-wrap a {
    color: #36a0d1;
  }

  #carousel-example-generic {
    display: inline-block;
  }

  #single-carousel .item a {
    margin: 0 auto;
  }

  /*****************************/
  /* Plugin styles */
  ul.thumbnails-carousel {
    padding: 5px 0 0 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
  }

  ul.thumbnails-carousel .center {
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
  }

  ul.thumbnails-carousel li {
    margin-right: 5px;
    cursor: pointer;
    opacity: 1;
  }

  .controls-background-reset {
    background: none !important;
  }

  .indicators-fix {
    bottom: 70px;
  }
  .carousel-inner {
    overflow: hidden !important;
  }
  .carousel-inner .item {
    padding: 20px;
    max-width: 100%;
    max-height: 400px;
  }

  .item.left,
  .item.right {
    max-height: 400px !important;
  }
</style>
<!-- addition to head end -->
<!-------------- Start of Item Template --------------->
<td class="single">
  <div class="rwd single container">
    <div class="item-template">
      <div class="row top">
        <div class="col-xs-12 col-sm-6 image-gallery">
          <div class="title mobile">
            <h1>
              <%=getCurrentAttribute('item','storedisplayname')%>
            </h1>
          </div>
          <div class="badges mobile">
            <span class="hide<%=getCurrentAttribute('item','custitem_badge_best_seller')%>">Best Seller</span>
            <span class="hide<%=getCurrentAttribute('item','custitem_badge_new')%>">New Item</span>
          </div>
          <!-- bootstrap carousel -->

          <div id="carousel-example-generic" class="carousel slide row" data-ride="carousel" data-interval="false">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" id="single-carousel">

              <div class="item active srle">
                <a
                  href="<%=getCurrentAttribute('item','storedisplayimage')%>">
                  <img src="<%=getCurrentAttribute('item','storedisplayimage')%>
" alt="" class="img-responsive">
                </a>
              </div>

              <div class="item">
                <a
                  href="<%= getCurrentAttribute('item','custitem_alt_image_1','/site/assets/images/global_imgs/noimage.jpg') %>">
                  <img
                    src="<%= getCurrentAttribute('item','custitem_alt_image_1','/site/assets/images/global_imgs/noimage.jpg') %>"
                    alt="" class="img-responsive">
                </a>
              </div>
              <div class="item">
                <a
                  href="<%= getCurrentAttribute('item','custitem_alt_image_2','/site/assets/images/global_imgs/noimage.jpg')%>">
                  <img
                    src="<%= getCurrentAttribute('item','custitem_alt_image_2','/site/assets/images/global_imgs/noimage.jpg') %>"
                    alt="" class="img-responsive">
                </a>
              </div>
              <div class="item">
                <a
                  href="<%= getCurrentAttribute('item','custitem_alt_image_3','/site/assets/images/global_imgs/noimage.jpg')%>">
                  <img
                    src="<%= getCurrentAttribute('item','custitem_alt_image_3','/site/assets/images/global_imgs/noimage.jpg') %>"
                    alt="" class="img-responsive">
                </a>
              </div>
            </div>
            <hr />
            <!-- Thumbnails -->
            <ul class="row carousel-thumbs thumbnails-carousel clearfix" id="slider-thumbs">
              <li class="thumbnail col-xs-2">
                <img
                  src="<%= getCurrentAttribute('item','storedisplaythumbnail')%>"
                  alt="" />
                <!-- <img
                  src="<%= getCurrentAttribute('item','storedisplaythumbnail','/site/assets/images/global_imgs/noimage.jpg')%>"
                  alt="" /> -->
              </li>

              <li class="thumbnail col-xs-2">
                <img
                  src="<%= getCurrentAttribute('item','custitem_alt_image_1') %>"
                  alt="" />
              </li>

              <li class="thumbnail col-xs-2">
                <img
                  src="<%= getCurrentAttribute('item','custitem_alt_image_2') %>"
                  alt="" />
              </li>

              <li class="thumbnail col-xs-2">
                <img
                  src="<%= getCurrentAttribute('item','custitem_alt_image_3') %>"
                  alt="" />
              </li>
            </ul>

          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="title desktop">
            <h1>
              <%=getCurrentAttribute('item','storedisplayname')%>
            </h1>
          </div>
          <div class="badges desktop">
            <span class="hide<%=getCurrentAttribute('item','custitem_badge_best_seller')%>">Best Seller</span>
            <span class="hide<%=getCurrentAttribute('item','custitem_badge_new')%>">New Item</span>
          </div>
          <div class="col-xs-12 panel price">
            <h3 class="col-xs-12 col-sm-6 left">Pricing: <span><%=getCurrentAttribute('item','salesPriceHtml')%></span>&nbsp;<span><%=getCurrentAttribute('item','saleunit')%></span>
            </h3>
          </div>
          <div class="col-xs-12 panel stock">
            <h5>SKU:<span class="sku"><%=getCurrentAttribute('item','itemid','')%></span></h5>
            <h5>Stock Availability: <span
                class="hide<%=getCurrentAttribute('item','quantityavailable')%>">Available</span><span
                class="hide showInline<%=getCurrentAttribute('item','quantityavailable')%>"><%=getCurrentAttribute('item','outofstockmessage', 'Out of Stock')%></span>
            </h5>
          </div>
          <div class="col-xs-12 panel add-to-cart">
            <form method='post' name='form<%=getCurrentAttribute('item', 'internalid')%>'
              id='form<%=getCurrentAttribute('item', 'internalid')%>'
              onsubmit='return checkmandatory<%=getCurrentAttribute('item', 'internalid')%>();'
              action='/app/site/backend/additemtocart.nl'>
              <div class="col-xs-12 panel opts">
                <h4 style="display:none;">Select Options:</h4>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <%=getCurrentAttribute('item','addtocartoptionshtml')%>
                </table>
              </div>
              <div class="col-xs-12 panel shop">
                <table border="0" cellspacing="0" cellpadding="0" class="cart-table">
                  <%=getCurrentAttribute('item','addToCartHtml')%>
                </table>
              </div>
            </form>
            <div class="col-xs-12 wishlist" style="padding-left:0px;">
              <div class="row">
                <div class="col-xs-12 accions">
                  <a class="add btn btn-default" style="display:none" href="#">Add to Wish List</a>
                  <a class="login btn btn-default" style="display:none" href="<NLLOGINURL>">
                    <i class="fa fa-heart-o"></i> Log in to add to wishlist</a>
                </div>
                <!-- Modal WishList [START] -->
                <div class="lists col-xs-12" style="display:none">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title" data-title="Select one or multiple lists"></h4>
                    </div>
                    <div class="panel-body">
                      <div class="form-group grouplist"></div>
                      <input type="button" class="save btn btn-sm btn-default" value="Save">
                      <hr>
                      <h4>Or:</h4>

                      <div class="form-group new" style="display: none">
                        <input type="text" placeholder="You new list name" class="form-control name">
                      </div>
                      <div class="form-group">
                        <input type="button" class="create btn btn-sm btn-default" data-step="shownew"
                          value="Create a new list">
                        <a class="a right" href="/wish-list">Go to Wish List</a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal WishList [END] -->
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <hr>
          <div class="col-xs-12 desc">
            <%=getCurrentAttribute('item','storedescription')%>
            <br />
            <%=getCurrentAttribute('item','featureddescription')%>
            <br />
            <%=getCurrentAttribute('item','storedetaileddescription')%>
          </div>
        </div>
      </div>
      <div class="row bottom">
        <div class="panel"></div>
      </div>
      <!-- <div class="list-carousel relatedItems" style="display:none;"> -->
        <div class="list-carousel relatedItems"></div>
        <div class="row tabs" style="display:none;">
          <div class="col-sm-3">
            <ul>
              <li>
                <h5 class="btn btn-default btn-tab active" data-carousel="carousel-items-first">
                  Related Products<i class="fa fa-angle-down fa-2"></i>
                </h5>
              </li>
              <li>
                <h5 class="btn btn-default btn-tab" style="display:none" data-carousel="carousel-items-first">
                  Accesories<i class="fa fa-caret-down fa-2"></i>
                </h5>
              </li>
            </ul>
          </div>
          <div class="col-sm-1">
            <a data-slide="prev" href="#carousel-items-first"
              class="left btn btn-default btn-xs fa fa-angle-left fa-1"></a>
            <a data-slide="next" href="#carousel-items-first"
              class="right btn btn-default btn-xs fa fa-angle-right fa-1"></a>
          </div>
        </div>
        <div class="row">
          <div data-ride="carousel" class="carousel carousel-items slide" id="carousel-items-first">
            <div class="carousel-inner">
              <!--
              <%=getCurrentAttribute('item','custitem_wd_relateditem_html')%>
              -->
              <%=getCurrentAttribute('item','allrelateditemshtml')%>
            </div>
          </div>
        </div>
      </div>
      <div class="list-carousel rviItems" style="display:none;">
        <div class="row tabs">
          <div class="col-sm-3">
            <ul>
              <li class="col-sm-11">
                <h5 class="btn btn-default btn-tab active" data-carousel="carousel-items-second">
                  Recently Viewed<i class="fa fa-angle-down fa-2"></i>
                </h5>
              </li>
              <li class="col-sm-1"></li>
            </ul>
          </div>
          <div class="col-sm-1">
            <a data-slide="prev" href="#carousel-items-second"
              class="left btn btn-default btn-xs fa fa-angle-left fa-1"></a>
            <a data-slide="next" href="#carousel-items-second"
              class="right btn btn-default btn-xs fa fa-angle-right fa-1"></a>
          </div>
        </div>
        <div class="row">
          <div data-ride="carousel" class="carousel carousel-items slide" id="carousel-items-second">
            <div class="carousel-inner">
              <!-- Recently List -->
            </div>
          </div>
        </div>
      </div>

</td>
<!-------------- End of Item Template --------------->
<script src="/site/suiteoffice/js/carousel.js"></script>

