<!--SuiteCommerce : QuickStart : [Base] - Category List Cell - SB -->
<!-- addition to head start -->
<!-- addition to head end -->
<!-- template html start -->
<div class="col-xs-3 col-sm-4 col-md-3 cell">
  <div class="list-block">
    <div class="thumb">
      <div class="wrap">
        <a
          href="<%=getCurrentAttribute('sitecategory','storeurl')%>"
          title="<%=getCurrentAttribute('sitecategory', 'itemid')%>"
          class="thumbnail"
          ><img
            src="<%=getCurrentAttribute('sitecategory','storedisplaythumbnail','/site/assets/images/global_imgs/noimage.jpg')%>"
        /></a>
      </div>
    </div>
    <h3>
      <a class="categoryLink" x_cat_type="<%=getCurrentAttribute('sitecategory','description')%>" href="<%=getCurrentAttribute('sitecategory','storeurl')%>"
        ><%=getCurrentAttribute('sitecategory','itemid')%></a
      >
    </h3>
  </div>
</div>
<!-- template html end -->

