<!-- SuiteCommerce : Quick...[Base] - Item List -->
<!-- addition to head start -->
<style>
  .rwd.list.items {
    padding-top: 0px;
  }
  .breadcrumbs .breadcrumbs-wrap {
    padding-left: 0px !important;
  }
  .category-title-links.mobile h1.title {
    color: #36a0d1;
  }
  .item-blocks.container .list-table {
    width: 100%;
    margin-left: auto;
  }
  .item-blocks .row {
    border-bottom: 1px solid #dedede;
  }
  .item-blocks.row.bottom {
    padding: 20px 15px;
    margin: 0 auto;
  }
  .breadcrumbs.container.list-table {
    height: auto;
    border-top: 1px solid #dedede;
    padding: 20px 0px;
    display: block !important;
  }
  .breadcrumbs.container.list-table h2 {
    font-size: 20px;
    font-weight: 600;
  }
  @media (min-width: 768px) {
    .item-blocks.container .list-table {
      margin-left: 200px;
      width: calc(100% - 200px);
    }
  }
</style>
<!-- addition to head end -->
<!-- template html start -->
<td class="list">
  <div class="rwd list items">
    <NLPROCESSONCE>
      <div class="row top">
        <div class="row top category-banner ">
          <div class="container category-title-links desktop">
            <h1 class="title">
              <%= getCurrentAttribute('sitecategory','itemid')%>
            </h1>
          </div>
        </div>
        <div class="container category-title-links mobile">
          <h1 class="title">
            <%= getCurrentAttribute('sitecategory','itemid')%>
          </h1>
        </div>
        <div class="text">
          <!--
          <h2><%= getCurrentAttribute('sitecategory','description')%></h2>
          -->
          <p>
            <%= getCurrentAttribute('sitecategory','storedetaileddescription')%>
          </p>
        </div>
      </div>
      <div class="row">
        <div
          data-ride="carousel"
          class="carousel slide main-carousel"
          id="main-carousel"
        >
          <ol class="carousel-indicators"></ol>
          <div class="carousel-inner"></div>
          <a
            data-slide="prev"
            href="#main-carousel"
            class="left carousel-control"
            ><i class="fa fa-angle-left fa-1"></i
          ></a>
          <a
            data-slide="next"
            href="#main-carousel"
            class="right carousel-control"
            ><i class="fa fa-angle-right fa-1"></i
          ></a>
        </div>
      </div>
    </NLPROCESSONCE>
    <div class="row bottom item-blocks container">
      <table
        cellpadding="0"
        cellspacing="0"
        border="0"
        width="100%"
        class="list-table"
      >
        <div class="breadcrumbs container list-table" id="erp-breadcrumbs">
          <h2 class="title">Products</h2>
        </div>
        <tr>
          <NLITEMLIST />
        </tr>
      </table>
    </div>
    <div
      class="modal fade compare"
      id="compare_products"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span
              ><span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Compare Products</h4>
          </div>
          <div class="modal-body list content-compare-products"></div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
  </div>
</td>
<!-- template html end -->
