<!-- SO : QuickStart : [Base] - Item Drilldown non-inventory -->
<!-- addition to head start -->
<style type="text/css">
table td.sidebar, td.col-xs-6.col-sm-3.sidebar.sidebar-offcanvas { display:
none; }

  .breadcrumbs .breadcrumbs-wrap,
  .breadcrumbs .breadcrumbs-wrap a {
    color: #36a0d1;
  }
</style>
<!-- addition to head end -->
<!-------------- Start of Item Template --------------->
<td>
  <div class="single container">
    <div class="rwd single">
      <div class="item-template">
        <div class="row top">
          <div class="col-xs-12 col-sm-6 image-gallery">
  <div class="title mobile">
    <h1>
      <%=getCurrentAttribute('item','storedisplayname')%>
    </h1>
  </div>
  <div class="badges mobile">
    <%=getCurrentAttribute('item','custitem_wd_badges_html')%>
  </div>
  <div id="single-carousel" class="row carousel carousel-item slide">
    <div class="carousel-inner">
      <div class="item active easyzoom easyzoom--overlay" data-slide-number="0">
        <a
          href="<%=getCurrentAttribute('item','storedisplayimage','/site/assets/images/global_imgs/noimage.jpg')%>"
        >
          <img
            src="<%=getCurrentAttribute('item','storedisplayimage','/site/assets/images/global_imgs/noimage.jpg')%>"
            class="img-responsive"
          />
        </a>
      </div>
      <div class="item easyzoom easyzoom--overlay" data-slide-number="1">
        <a
          href="<%= getCurrentAttribute('item','custitem_alt_image_1','/site/assets/images/global_imgs/noimage.jpg') %>"
        >
          <img
            src="<%= getCurrentAttribute('item','custitem_alt_image_1','/site/assets/images/global_imgs/noimage.jpg') %>"
            class="img-responsive"
          />
        </a>
      </div>
      <div class="item easyzoom easyzoom--overlay" data-slide-number="2">
        <a
          href="<%= getCurrentAttribute('item','custitem_alt_image_2','/site/assets/images/global_imgs/noimage.jpg') %>"
        >
          <img
            src="<%= getCurrentAttribute('item','custitem_alt_image_2','/site/assets/images/global_imgs/noimage.jpg') %>"
            class="img-responsive"
          />
        </a>
      </div>
      <div class="item easyzoom easyzoom--overlay" data-slide-number="3">
        <a
          href="<%= getCurrentAttribute('item','custitem_alt_image_3','/site/assets/images/global_imgs/noimage.jpg') %>"
        >
          <img
            src="<%= getCurrentAttribute('item','custitem_alt_image_3','/site/assets/images/global_imgs/noimage.jpg') %>"
            class="img-responsive"
          />
        </a>
      </div>
    </div>
  </div>
  <div id="slider-thumbs" class="row carousel-thumbs">
    <div class="col-xs-2 thumbnail">
      <a id="carousel-selector-0" class="selected">
        <img
          src="<%= getCurrentAttribute('item','storedisplaythumbnail','/site/assets/images/global_imgs/noimage.jpg') %>"
        />
      </a>
    </div>
    <div class="col-xs-2 thumbnail">
      <a id="carousel-selector-1">
        <img
          src="<%= getCurrentAttribute('item','custitem_alt_image_1','#') %>"
        />
      </a>
    </div>
    <div class="col-xs-2 thumbnail">
      <a id="carousel-selector-2">
        <img
          src="<%= getCurrentAttribute('item','custitem_alt_image_2','#') %>"
        />
      </a>
    </div>
    <div class="col-xs-2 thumbnail">
      <a id="carousel-selector-3">
        <img
          src="<%= getCurrentAttribute('item','custitem_alt_image_3','#') %>"
        />
      </a>
    </div>
  </div>
</div>

          <div class="col-xs-12 col-sm-6">
            <div class="title desktop">
              <h1>
                <%=getCurrentAttribute('item','storedisplayname')%>
              </h1>
            </div>
            <div class="badges desktop">
              <span
                class="hide<%=getCurrentAttribute('item','custitem_badge_best_seller')%>"
                >Best Seller</span
              >
              <span
                class="hide<%=getCurrentAttribute('item','custitem_badge_new')%>"
                >New Item</span
              >
            </div>
            <div class="col-xs-12 panel stock">
              <h5>
                SKU:<span class="sku"
                  ><%=getCurrentAttribute('item','itemid','')%></span
                >
              </h5>
            </div>
            <div class="col-xs-12 panel add-to-cart">
              <div class="col-xs-12 wishlist" style="padding-left:0px;">
                <div class="row">
                  <div class="col-xs-12 accions">
                    <a class="add btn btn-default" style="display:none" href="#"
                      >Add to Wish List</a
                    >
                    <a
                      class="login btn btn-default"
                      style="display:none"
                      href="<NLLOGINURL>"
                    >
                      <i class="fa fa-heart-o"></i> Log in to add to wishlist</a
                    >
                  </div>
                  <!-- Modal WishList [START] -->
                  <div class="lists col-xs-12" style="display:none">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4
                          class="panel-title"
                          data-title="Select one or multiple lists"
                        ></h4>
                      </div>
                      <div class="panel-body">
                        <div class="form-group grouplist"></div>
                        <input
                          type="button"
                          class="save btn btn-sm btn-default"
                          value="Save"
                        />
                        <hr />
                        <h4>Or:</h4>

                        <div class="form-group new" style="display: none">
                          <input
                            type="text"
                            placeholder="You new list name"
                            class="form-control name"
                          />
                        </div>
                        <div class="form-group">
                          <input
                            type="button"
                            class="create btn btn-sm btn-default"
                            data-step="shownew"
                            value="Create a new list"
                          />
                          <a class="a right" href="/wish-list"
                            >Go to Wish List</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Modal WishList [END] -->
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <hr />
            <div class="col-xs-12 desc">
              <%=getCurrentAttribute('item','storedescription')%>
              <br />
              <%=getCurrentAttribute('item','featureddescription')%>
              <br />
              <%=getCurrentAttribute('item','storedetaileddescription')%>
            </div>
          </div>
        </div>
        <div class="row bottom">
          <div class="panel"></div>
        </div>
        <div class="list-carousel relatedItems" style="display:none;">
          <div class="row tabs">
            <div class="col-sm-3">
              <ul>
                <li>
                  <h5
                    class="btn btn-default btn-tab active"
                    data-carousel="carousel-items-first"
                  >
                    Related Products<i class="fa fa-angle-down fa-2"></i>
                  </h5>
                </li>
                <li>
                  <h5
                    class="btn btn-default btn-tab"
                    style="display:none"
                    data-carousel="carousel-items-first"
                  >
                    Accesories<i class="fa fa-caret-down fa-2"></i>
                  </h5>
                </li>
              </ul>
            </div>
            <div class="col-sm-1">
              <a
                data-slide="prev"
                href="#carousel-items-first"
                class="left btn btn-default btn-xs fa fa-angle-left fa-1"
              ></a>
              <a
                data-slide="next"
                href="#carousel-items-first"
                class="right btn btn-default btn-xs fa fa-angle-right fa-1"
              ></a>
            </div>
          </div>
          <div class="row">
            <div
              data-ride="carousel"
              class="carousel carousel-items slide"
              id="carousel-items-first"
            >
              <div class="carousel-inner">
                <%=getCurrentAttribute('item','custitem_wd_relateditem_html')%>
              </div>
            </div>
          </div>
        </div>
        <div class="list-carousel rviItems" style="display:none;">
          <div class="row tabs">
            <div class="col-sm-3">
              <ul>
                <li class="col-sm-11">
                  <h5
                    class="btn btn-default btn-tab active"
                    data-carousel="carousel-items-second"
                  >
                    Recently Viewed<i class="fa fa-angle-down fa-2"></i>
                  </h5>
                </li>
                <li class="col-sm-1"></li>
              </ul>
            </div>
            <div class="col-sm-1">
              <a
                data-slide="prev"
                href="#carousel-items-second"
                class="left btn btn-default btn-xs fa fa-angle-left fa-1"
              ></a>
              <a
                data-slide="next"
                href="#carousel-items-second"
                class="right btn btn-default btn-xs fa fa-angle-right fa-1"
              ></a>
            </div>
          </div>
          <div class="row">
            <div
              data-ride="carousel"
              class="carousel carousel-items slide"
              id="carousel-items-second"
            >
              <div class="carousel-inner">
                <!-- Recently List -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</td>
<!-------------- End of Item Template --------------->
