<td valign="top" class="col-xs-6 col-sm-3 sidebar sidebar-offcanvas">
    <aside role="navigation" id="sidebar" class="col-xs-6 col-sm-3 sidebar sidebar-offcanvas">
        <h4 class="title">Filter</h4>
        <table cellpadding="0" cellspacing="0" border="0" width="auto" class="list-group">
            <tr>
                <NLCOLUMNCONTENTS>
            </tr>
        </table>
        </p>
    </aside>
</td>


