<!-------------- Start of Footer --------------->
<footer id="footer" role="banner" class="footer">
  <div class="footer-wrap">
    <div class="row top">
      <div class="container">
        <div class="col-xs-12 usr">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <ul>
              <li>
                <h4>Products and Services</h4>
              </li>
              <li><a href="/Office-Supplies">Office Supplies</a></li>
              <li><a href="/Educational-Art-Supplies">Education</a></li>
              <li><a href="/Cleaning-Breakroom-Supplies">Cleaning and Breakroom</a></li>
              <li>
                <a href="/Furniture-Solutions">Furniture and Solutions</a>
              </li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <ul>
              <li>
                <h4>My Account</h4>
              </li>
              <li>
                <a href="/app/site/backend/bridgedomains.nl?btrgt=https%3A%2F%2Fhbi.na3.suitecheckout.com%2Fsbep-dev-kilimanjaro%2Fmy_account.ssp%3Fsc%3D6%23%2Foverview">Overview</a>
              </li>
              <li>
                <a href="/app/site/backend/bridgedomains.nl?btrgt=https%3A%2F%2Fhbi.na3.suitecheckout.com%2Fsbep-dev-kilimanjaro%2Fmy_account.ssp%3Fsc%3D6%23%2Fpurchases">Order History</a>
              </li>
              <li>
                <a href="/app/site/backend/bridgedomains.nl?btrgt=https%3A%2F%2Fhbi.na3.suitecheckout.com%2Fsbep-dev-kilimanjaro%2Fmy_account.ssp%3Fsc%3D6%23%2Fbalance">Account Balance</a>
              </li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <ul>
              <li>
                <h4>hbi office plus</h4>
              </li>
              <li><a href="/about-us.html">About Us</a></li>
              <li><a href="/contact-us.html">Contact Us</a></li>
              <li><a href="/careers.html">Careers</a></li>
              <li><a href="/contact-us.html#locations">Locations</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 get-in-touch">
            <ul>
              <li>
                <h4>Get In Touch</h4>
              </li>
              <li>
                <span>Call us at </span><a href="tel:8006673680">(800) 667-3680</a>
              </li>
              <li>
                <span> Email us </span><a href="mailto:websales@hbiop.com">websales@hbiop.com</a>
              </li>
              <li><span>Subscribe to our </span><a href="/add-email-list.html">Email List</a></li>
              <li class="address">
                <span>hbi office plus Head Office <br /></span> 1162 Osler
                Street<br />
                Regina, Saskatchewan S4R 5G9
              </li>
            </ul>
            <a href="/get-our-catalogue.html"><button>GET OUR CATALOGUE</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Master Configuration Footer START-->
<script type="text/javascript" src="/site/suiteoffice/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/site/suiteoffice/js/bootstrap-transition.js"></script>
<script type="text/javascript" src="/site/suiteoffice/js/jquery.mobile.custom.min.js"></script>
<script type="text/javascript" src="/site/suiteoffice/js/esp-custom.js"></script>

<SUITEOFFICE_INITIALIZE_LBRARY />
<!-- Master Configuration Footer END -->
<!-- Theme Footer END -->
<!-------------- End of Footer --------------->