<!-------------- Start of Header --------------->
<tr>
    <td>
        <header role="banner" class="page-header header">
            <div class="row middle">
                <div class="logo-login-row container">
                    <div class="col-xs-12 col-sm-4 col-md-3 logo-container">
                        <a href="<%=getCurrentAttribute('site','logolinkurl')%>" class="logo">
                            <img class="logo-img" src="/site/assets/images/global_imgs/hbi_logo.png" alt="company logo">
                            <img class="reward" src="/site/assets/images/global_imgs/haworth.png" alt="Haworth 2020 Best In Class Dealer" class="reward"></a>
                    </div>
                    <div class="right cart-login-container">
                        <div class="cart-icon right">
                            <a href="<NLCARTURL>"><i class="icon fa fa-shopping-cart"></i>
                <span>
                  <NLCARTITEMCOUNT>&nbsp;items&nbsp;<NLCARTTOTAL>
                </span>
              </a>
                        </div>
                        <div class="usr-icon right">
                            <ul>
                                <li class="login">
                                    <a href="<NLLOGINURL>" title="Login">
                                        <i class="icon fa fa-key"></i>
                                        <span>Login</span>
                                    </a>
                                    <a href="<NLLOGOUTURL>" title="Logout" style="display:none;">
                                        <i class="icon fa fa-key"></i>
                                        <span>Logout</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="<NLCUSTOMERCENTERURL>" class="first">
                                        <i class="icon fa fa-user"></i>
                                        <span>Account</span>
                                    </a>
                                </li>
                            </ul>
                            <a href="<NLCUSTOMERCENTERURL>" id="logged-as" style="display:none;">
                                <i class="icon fa fa-lock"></i><span>Logged in
                  as:&nbsp;<span><%=getCurrentAttribute('customer','firstname','')%>&nbsp;<%=getCurrentAttribute('customer','lastname','')%>&nbsp;<%=getCurrentAttribute('customer','companyname','')%></span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row bottom">
                <nav class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                </nav>
                <nav class="navbar navbar-collapse collapse">
                    <div class="container">
                         <NAVTABS>
                         <SUITEOFFICE_GLOBAL_SEARCH>
                    </div>
                </nav>
            </div>
            <div class="breadcrumbs">
                <div class="container">
                    <div class="breadcrumbs-wrap">
                        <NLCRUMBTRAIL>
                    </div>
                </div>
            </div>
        </header>
    </td>
</tr>
<!-------------- End of Header --------------->