<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link
  type="text/css"
  rel="stylesheet"
  href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
/>
<link
  type="text/css"
  rel="stylesheet"
  href="/site/suiteoffice/css/bootstrap.min.css"
  media="all"
/>
<link
  type="text/css"
  rel="stylesheet"
  href="/site/suiteoffice/css/bootstrap-theme.min.css"
  media="all"
/>
<link
  type="text/css"
  rel="stylesheet"
  href="/site/suiteoffice/css/theme.css"
  media="all"
/>
<link rel="icon" type="image/png" sizes="32x32" href="/site/assets/images/global_imgs/hbi_logo.png">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-3.3.0.js"></script>
<script>
  //** jQuery Include - Fix My Account NS. **//
  function excludeSections () {
    if (document.URL.match('reportrunner.nl')) return true
  }
  excludeSections()
    ? ''
    : document.write(
        '<scr' +
          'ipt src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></sc' +
          'ript>'
      )
  jQuery(document).ready(function ($) {
    //** Login Buttons Controller
    if (
      !'<%= getCurrentAttribute("customer","internalid","NaN") %>'.match('NaN')
    ) {
      jQuery('.login [title="Login"]').hide()
      jQuery('.login [title="Logout"]').show()
    }
  })
</script>
