<div class="category-square">
  <a href="/Educational-Art-Supplies">
    <img src="/site/assets/images/global_imgs/office-educational-tile.jpg" />
    <div class="category-text">
      <h6><span class="action">SHOP</span> Educational Products</h6>
    </div>
  </a>
</div>
