<div class="category-square">
  <a href="/Furniture-Solutions">
    <img
      src="/site/assets/images/global_imgs/office-services-solutions-tile.jpg"
    />
    <div class="category-text">
      <h6><span class="action">EXPLORE</span> Furniture & Solutions</h6>
    </div>
  </a>
</div>
