<div class="category-square">
  <a href="/Cleaning-Breakroom-Supplies">
    <img src="/site/assets/images/global_imgs/office-furniture-tile.jpg" />
    <div class="category-text">
      <h6><span class="action">SHOP</span>Cleaning and Breakroom</h6>
    </div>
  </a>
</div>
