<div class="category-square">
  <a href="/Office-Supplies">
    <img src="/site/assets/images/global_imgs/office-supplies-tile.jpg" />
    <div class="category-text">
      <h6><span class="action">SHOP</span> Office Supplies</h6>
    </div>
  </a>
</div>
