<ul class="nav navbar-nav">
    <li class="tab_inactive" id="tab1"><a href="/s.nl/sc.1/.f">Home</a></li>
    <li class="tab_inactive" id="tab3"><a href="/sbep-dev-kilimanjaro/cart.ssp?sc=3">Shopping Basket</a></li>
    <li class="tab_inactive" id="tab6"><a
            href="/app/site/backend/bridgedomains.nl?btrgt=https%3A%2F%2Fhbi.na3.suitecheckout.com%2Fsbep-dev-kilimanjaro%2Fmy_account.ssp%3Fsc%3D6">My
            Account</a></li>
    <li class="tab_inactive" id="tab57"><a href="/Cleaning-Breakroom-Supplies/">Cleaning and Breakroom</a></li>
    <li class="tab_inactive" id="tab43"><a href="/Office-Supplies/">Office Supplies</a></li>
    <li class="tab_inactive" id="tab44"><a href="/Educational-Art-Supplies/">Education</a></li>
    <li class="tab_inactive" id="tab46"><a href="/Furniture-Solutions/">Furniture &amp; Solutions</a></li>
    <li class="tab_inactive" id="tab52"><a href="/about-us.html">About Us</a></li>
    <li class="tab_inactive" id="tab51"><a href="/contact-us.html">Contact Us</a></li>
    <li class="tab_inactive" id="tab53"><a href="/furniture-service.html">Furniture Service</a></li>
</ul>