<SUITEOFFICE_CONFIGURATION_RENDER>
<script type="text/javascript">
//Initialize Standar Package.
var iniStandar = function(lib){
	if(wd.configuration.config_qo_available) lib.quick_order.initialize();
	if(wd.configuration.config_cq_available) lib.createAQuote.initialize();
},

//Initialize Premium Package.
iniPremium     = function(lib){
	iniStandar(lib);
	if(wd.configuration.config_comparep_avilable)
		wd.library.compareProducts.initialize();
	if(wd.configuration.currentpage.isproductpage){
		new wd.MarketingZone().initialize(JSON.parse(wd.library.cookies.getCookie('rvis')), null, jQuery('#carousel-items-second').find('.carousel-inner'), wd.templates.related_item_tmpl);
		wd.library.recentlyViewItems.attachItem(jQuery('input[name="itemid"]').val());
		wd.library.recentlyViewItems.initialize();
		wd.library.leadTime.initialize();
	}
	wd.library.wishlist.initialize();
};

jQuery(document).ready(function(){
	if(wd){

		var library = wd.library;

               wd.rwd.initialize();

		library.slider.initialize(jQuery('#main-carousel'), wd.configuration.currentpage.sitecategoryid);
		if(wd.configuration.currentpage.ishome && wd.configuration.config_fi_available){
			new wd.MarketingZone().initialize(null, 'new_arrivals', jQuery('#carousel-items-first').find('.carousel-inner'), wd.templates.marketingzone_item_tmpl);
			new wd.MarketingZone().initialize(null, 'best_sellers', jQuery('#carousel-items-second').find('.carousel-inner'), wd.templates.marketingzone_item_tmpl);
		}else{ jQuery('.marketingzone').hide() }
		library.marketingZone.initialize();
		library.globalSearch.initialize();
		library.newsletter.initialize();

                wd.version = (document.URL.match('version'))? document.URL.split('version=')[1] : wd.version;

		switch (wd.version){
			case 'standard' : iniStandar(library); break;
			case 'premium'  : iniPremium(library); break;
		}
	}
});
</script>
<div class="select_currency" style="display:none"><NLCURRENCYSELECTHTML></div>
<div class="select_language" style="display:none"><NLLANGUAGESELECTHTML></div>