<form
  method="post"
  name="searchportlet-header"
  onsubmit="window.location.href='/s.nl?sc=1&amp;category=&amp;search='+encodeURIComponent(document.forms['searchportlet-header'].elements['search-keyword'].value);return false;"
  _lpchecked="1"
  style="
    display: none;
"
>
  <div id="autocomp-search" class="autocomp-search navbar-form navbar-right">
    <div class="input-group">
      <input
        id="autocomp-search-query"
        data-action="keyword-search"
        class="input-medium form-control"
        placeholder="Keyword Search"
        type="search"
        name="search-keyword"
      />
      <button
        type="button"
        class="btn"
        data-action="go-search"
        title="Search"
        onclick="window.location.href='/s.nl?sc=1&category=&search='+encodeURIComponent(document.forms['searchportlet-header'].elements['search-keyword'].value);return false; return false;"
      >
        <i class="icon fa fa-search"></i>
      </button>
    </div>
  </div>
</form>
