<HEADSCRIPTS>
  <HEADERTAG>
  <style>
    .breadcrumbs,
    .breadcrumbs a {
      font-size: 15px;
      line-height: 28px;
      display: none;
    }
    @media (max-width: 768px) {
    div.av-layout-grid-container {  flex-direction: column; }
    div.av-layout-grid-container div {
      width: auto !important;
    }
    }
  </style>
  <div style="max-width: 100vw">
  <div
    id="av_section_1"
    class="avia-section main_color avia-section-default avia-no-shadow avia-bg-style-parallax  avia-builder-el-0  el_before_av_layout_row  avia-builder-el-first   av-minimum-height av-minimum-height-custom container_wrap fullsize"
    style="background-color: #7c9db8;padding: 150px 20px;"
  >
    <h1
      class="av-special-heading-tag "
      itemprop="headline"
      style="
    color: white;
"
    >
      About Us
    </h1>
  </div>

  <div
    id="av-layout-grid-1"
    class="av-layout-grid-container entry-content-wrapper main_color av-flex-cells    avia-builder-el-2  el_after_av_section  el_before_av_layout_row  submenu-not-first container_wrap fullsize"
    style="
    display: flex;
"
  >
    <div
      class="flex_cell no_margin av_one_half  avia-builder-el-3  el_before_av_cell_one_half  avia-builder-el-first   "
      style="vertical-align:middle;padding: 100px;width: 50%;"
    >
      <div class="flex_cell_inner">
        <section
          class="av_textblock_section "
          itemscope="itemscope"
          itemtype="https://schema.org/CreativeWork"
        >
          <div class="avia_textblock  " itemprop="text">
            <p><strong>who is hbi?</strong></p>
            <p class="p1">
              hbi office plus inc is the premier supplier of office supplies,
              office furniture, and educational furniture in Regina.<br />
              We belong to Canada’s largest independent stationery buying group
              CIS and are a preferred dealer of Haworth office furniture.
            </p>
            <p class="p1">
              <span class="s1"
                >Our head office is located in Regina’s historic warehouse
                district with 5 locations throughout Saskatchewan including
                Saskatoon, Prince Albert, Swift Current, and a sales team
                dedicated to the Yorkton area.<span
                  class="Apple-converted-space"
                  >&nbsp; </span
                >hbi serves and supports its communities. We are proudly
                Canadian owned and operated.</span
              >
            </p>
          </div>
        </section>
      </div>
    </div>
    <div
      class="flex_cell no_margin av_one_half  avia-builder-el-5  el_after_av_cell_one_half  avia-builder-el-last   avia-full-stretch "
      style="height:600px;min-height:600px;background:url(/images/hbi1.jpg) center center no-repeat scroll;vertical-align:top;padding:30px;width: 50%;"
    ></div>
  </div>
  <div
    id="av-layout-grid-2"
    class="av-layout-grid-container entry-content-wrapper main_color av-flex-cells    avia-builder-el-6  el_after_av_layout_row  el_before_av_layout_row  submenu-not-first container_wrap fullsize"
    style="display: flex;"
  >
    <div
      class="flex_cell no_margin av_one_half  avia-builder-el-7  el_before_av_cell_one_half  avia-builder-el-first   avia-full-stretch "
      style="background:url(/images/haworthIntegrated.jpg) center center no-repeat scroll;vertical-align:top;padding:30px;display: flex;width: 50%;"
    ></div>
    <div
      class="flex_cell no_margin av_one_half  avia-builder-el-8  el_after_av_cell_one_half  avia-builder-el-last"
      style="vertical-align:middle;padding:120px;background-color:#f7f7f7;width: 50%;"
    >
      <div class="flex_cell_inner">
        <section
          class="av_textblock_section "
          itemscope="itemscope"
          itemtype="https://schema.org/CreativeWork"
        >
          <div class="avia_textblock  " itemprop="text">
            <p><strong>Vision</strong></p>
            <p>Creating Customers for Life!</p>
            <p><strong>Mission</strong></p>
            <p class="p1">
              <span class="s1"
                >We are the recognized leader in the market for office supplies,
                office furniture, educational furniture, and architectural
                solutions. We provide our customers with integrated product
                solutions and resources, along with innovation and creativity.
                We accomplish this commitment to our customers by employing and
                investing in talented people, fostering an environment of
                continuous learning and dedicating ourselves to thoroughly
                understanding and supporting the business objectives of our
                customers.</span
              >
            </p>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div
    id="av-layout-grid-3"
    class="av-layout-grid-container entry-content-wrapper main_color av-flex-cells    avia-builder-el-10  el_after_av_layout_row  el_before_av_layout_row  submenu-not-first container_wrap fullsize"
    style="
    display: flex;
"
  >
    <div
      class="flex_cell no_margin av_one_half  avia-builder-el-11  el_before_av_cell_one_half  avia-builder-el-first   "
      style="vertical-align:middle;padding:120px;width: 50%;"
    >
      <div class="flex_cell_inner">
        <section
          class="av_textblock_section "
          itemscope="itemscope"
          itemtype="https://schema.org/CreativeWork"
        >
          <div class="avia_textblock  " itemprop="text">
            <p><strong>In Your Business</strong></p>
            <p class="p1">
              <span class="s1"
                >hbi has built the business on the values of honesty, integrity,
                and hard work. Management’s extensive experience in the office
                supply market has created the opportunity to provide customers
                with a one-stop solution for all their office needs.</span
              >
            </p>
            <p class="p1">
              <span class="s1"
                >Being the fastest growing office supply and office furniture
                solutions provider in Saskatchewan, hbi understands the changing
                needs of your business and continues to meet those needs with an
                ever-expanding inventory. From pens to multi-use paper, modular
                workstations to architectural solutions we’ve got you
                covered.</span
              >
            </p>
            <p class="p1">
              <span class="s1"
                >Today’s office environment must be innovative, efficient and
                cost-effective. We recognize this fast-changing environment and
                have built our business by providing creative solutions to
                workspace challenges. With our variety of products and service,
                hbi has the resources to help you create a perfect business
                environment.</span
              >
            </p>
          </div>
        </section>
      </div>
    </div>
    <div
      class="flex_cell no_margin av_one_half  avia-builder-el-13  el_after_av_cell_one_half  avia-builder-el-last   avia-full-stretch "
      style="background:url(/images/haworth-toronto.jpg) center center no-repeat scroll;vertical-align:top;padding:30px;width: 50%;"
    >
      <div class="flex_cell_inner"></div>
    </div>
  </div>

  <div
    id="av-layout-grid-4"
    class="av-layout-grid-container entry-content-wrapper main_color av-flex-cells    avia-builder-el-14  el_after_av_layout_row  el_before_av_section  submenu-not-first container_wrap fullsize"
    style="display: flex;"
  >
    <div
      class="flex_cell no_margin av_one_half  avia-builder-el-15  el_before_av_cell_one_half  avia-builder-el-first   avia-full-stretch "
      style="height:600px;min-height:600px;background:url(/images/hbi-schools.jpg) center center no-repeat scroll;vertical-align:top;padding:30px;width: 50%;"
    >
      <div class="flex_cell_inner"></div>
    </div>
    <div
      class="flex_cell no_margin av_one_half  avia-builder-el-16  el_after_av_cell_one_half  avia-builder-el-last   "
      style="vertical-align:middle;padding:120px;background-color:#f4f4f4;width: 50%;"
    >
      <div class="flex_cell_inner">
        <section
          class="av_textblock_section "
          itemscope="itemscope"
          itemtype="https://schema.org/CreativeWork"
        >
          <div class="avia_textblock  " itemprop="text">
            <p>
              <strong>In Your Schools<br /> </strong>
            </p>
            <p class="p1">
              hbi works hard to meet the needs of today’s students, and teachers
              in the education sector by making them a priority. We are the
              preferred source for art supplies, teacher resource materials, and
              educational furniture for Saskatchewan school boards.
            </p>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div
    id="av_section_2"
    class="avia-section main_color avia-section-default avia-no-border-styling avia-bg-style-parallax  avia-builder-el-18  el_after_av_layout_row  el_before_av_section   av-minimum-height av-minimum-height-custom container_wrap fullsize"
    style=" "
  >
    <div
      class="container"
      style="height:500px;display: flex;align-items: center;justify-content: center;"
    >
      <div class="template-page content  av-content-full alpha units">
        <div class="post-entry post-entry-type-page post-entry-1157">
          <div
            class="entry-content-wrapper clearfix"
            style="
    display: flex;
    justify-content: center;
    align-items: center;
"
          >
            <div
              class="flex_column av_one_half  flex_column_div av-zero-column-padding   avia-builder-el-20  el_after_av_one_fourth  el_before_av_one_fourth  "
              style="border-radius:0px; "
            >
              <section
                class="av_textblock_section "
                itemscope="itemscope"
                itemtype="https://schema.org/CreativeWork"
                style="
    max-width: 800px;
    margin: 0 auto;
"
              >
                <div class="avia_textblock  " itemprop="text">
                  <p style="text-align: left;">
                    <strong>In Your Community</strong>
                  </p>
                  <p class="p1" style="text-align: left;">
                    <span class="s1"
                      >hbi takes pride in giving back to our community. We work
                      with the University of Regina and Saskatchewan Polytechnic
                      to help mature students reach their academic dreams with
                      yearly scholarships.</span
                    >
                  </p>
                  <p class="p1" style="text-align: left;">
                    <span class="s1"
                      >We are proud sponsors of the University of Regina Rams
                      Football Club and Saskatchewan Roughriders.</span
                    >
                  </p>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div
      id="av_section_3"
      class="avia-section main_color avia-section-default avia-no-border-styling avia-bg-style-scroll  avia-builder-el-23  el_after_av_section  el_before_av_section   container_wrap fullsize"
      style="background-color: #ffffff;  "
    >
      <div class="container">
        <div class="template-page content  av-content-full alpha units">
          <div class="post-entry post-entry-type-page post-entry-1157">
            <div class="entry-content-wrapper clearfix">
              <div
                class="flex_column av_one_full  flex_column_div av-zero-column-padding first  avia-builder-el-24  avia-builder-el-no-sibling  "
                style="border-radius:0px; "
              >
                <div
                  style="padding-bottom:10px; "
                  class="av-special-heading av-special-heading-h1  blockquote modern-quote modern-centered  avia-builder-el-25  el_before_av_codeblock  avia-builder-el-first  "
                >
                  <h1 class="av-special-heading-tag " itemprop="headline">
                    Clients we work with
                  </h1>
                  <div class="special-heading-border">
                    <div class="special-heading-inner-border"></div>
                  </div>
                </div>
                <section
                  class="avia_codeblock_section  avia_code_block_0"
                  itemscope="itemscope"
                  itemtype="https://schema.org/CreativeWork"
                >
                  <div class="avia_codeblock " itemprop="text">
                    <div class="lshowcase-clear-both">&nbsp;</div>
                    <div class="lshowcase-logos " style="max-width: 1120px;">
                      <div
                        class="bx-wrapper"
                        style="max-width: 1040px; margin: 0px 35px;"
                      >
                        <div
                          class="bx-viewport"
                          style="width: 100%; overflow: hidden; position: relative; height: 133px;"
                        >
                          <div
                            style="width: 1315%; position: relative; left: -5893px;"
                            class="lshowcase-wrap-carousel-0"
                          >
                            <div
                              class="lshowcase-slide lshowcase-horizontal-slide bx-clone"
                              style="float: left; list-style: none; position: relative; width: 200px; margin-right: 10px;"
                            >
                              <a
                                href="https://www.dodgecitymotorschrysler.com/"
                                target="_blank"
                                style="position: relative; overflow: hidden;"
                                ><img
                                  src="https://hbiop.com/wp-content/uploads/2017/12/DodgeCityTRANSPARENT500pxl.jpg"
                                  width="500"
                                  height="135"
                                  alt="DodgeCity"
                                  title=""
                                  class="lshowcase-normal"/><span
                                  class="image-overlay overlay-type-extern"
                                  ><span
                                    class="image-overlay-inside"
                                  ></span></span
                              ></a>
                            </div>
                            <div
                              class="lshowcase-slide lshowcase-horizontal-slide bx-clone"
                              style="float: left; list-style: none; position: relative; width: 200px; margin-right: 10px;"
                            >
                              <a
                                href="http://www.saskinsurance.com/"
                                target="_blank"
                                style="position: relative; overflow: hidden;"
                                ><img
                                  src="https://hbiop.com/wp-content/uploads/2017/12/Dusyk-and-Barlow.jpg"
                                  width="324"
                                  height="156"
                                  alt="Dusyk and Barlow"
                                  title=""
                                  class="lshowcase-normal"/><span
                                  class="image-overlay overlay-type-extern"
                                  ><span
                                    class="image-overlay-inside"
                                  ></span></span
                              ></a>
                            </div>
                            <div
                              class="lshowcase-slide lshowcase-horizontal-slide bx-clone"
                              style="float: left; list-style: none; position: relative; width: 200px; margin-right: 10px;"
                            >
                              <a
                                href="https://www.concentra.ca/"
                                target="_blank"
                                style="position: relative; overflow: hidden;"
                                ><img
                                  src="https://hbiop.com/wp-content/uploads/2017/12/CONCE-LOGO_PMS_307_hi-res_CMYK700.jpg"
                                  width="700"
                                  height="132"
                                  alt="Concentra"
                                  title=""
                                  class="lshowcase-normal"/><span
                                  class="image-overlay overlay-type-extern"
                                  ><span
                                    class="image-overlay-inside"
                                  ></span></span
                              ></a>
                            </div>
                            <div
                              class="lshowcase-slide lshowcase-horizontal-slide bx-clone"
                              style="float: left; list-style: none; position: relative; width: 200px; margin-right: 10px;"
                            >
                              <a
                                href="http://www.bassendowski.ca/"
                                target="_blank"
                                style="position: relative; overflow: hidden;"
                                ><img
                                  src="https://hbiop.com/wp-content/uploads/2017/12/Bassendowski.jpg"
                                  width="463"
                                  height="117"
                                  alt="Bassendowski"
                                  title=""
                                  class="lshowcase-normal"/><span
                                  class="image-overlay overlay-type-extern"
                                  ><span
                                    class="image-overlay-inside"
                                  ></span></span
                              ></a>
                            </div>
                            <div
                              class="lshowcase-slide lshowcase-horizontal-slide bx-clone"
                              style="float: left; list-style: none; position: relative; width: 200px; margin-right: 10px;"
                            >
                              <a
                                href="http://www.bassendowski.ca/"
                                target="_blank"
                                style="position: relative; overflow: hidden;"
                                ><img
                                  src="https://hbiop.com/wp-content/uploads/2017/12/Haworth_Logo_Bright-Cream_TM.png"
                                  width="442"
                                  height="51"
                                  alt="Bassendowski  Copy"
                                  title=""
                                  class="lshowcase-normal"/><span
                                  class="image-overlay overlay-type-extern"
                                  ><span
                                    class="image-overlay-inside"
                                  ></span></span
                              ></a>
                            </div>
                            <div
                              class="lshowcase-slide lshowcase-horizontal-slide"
                              style="float: left; list-style: none; position: relative; width: 200px; margin-right: 10px;"
                            >
                              <a
                                href="https://www.uregina.ca/"
                                target="_blank"
                                style="position: relative; overflow: hidden;"
                                ><img
                                  src="https://hbiop.com/wp-content/uploads/2017/12/U-of-R.jpg"
                                  width="322"
                                  height="156"
                                  alt="University of Regina"
                                  title=""
                                  class="lshowcase-normal"/><span
                                  class="image-overlay overlay-type-extern"
                                  style="display: none;"
                                  ><span
                                    class="image-overlay-inside"
                                  ></span></span
                              ></a>
                            </div>
                            <div
                              class="lshowcase-slide lshowcase-horizontal-slide"
                              style="float: left; list-style: none; position: relative; width: 200px; margin-right: 10px;"
                            >
                              <a
                                href="http://www.shaughnessyappliance.com/"
                                target="_blank"
                                style="position: relative; overflow: hidden;"
                                ><img
                                  src="https://hbiop.com/wp-content/uploads/2017/12/Shaughnessy-appliance-service500.jpg"
                                  width="500"
                                  height="170"
                                  alt="Shaughnessy"
                                  title=""
                                  class="lshowcase-normal"/><span
                                  class="image-overlay overlay-type-extern"
                                  style="display: none;"
                                  ><span
                                    class="image-overlay-inside"
                                  ></span></span
                              ></a>
                            </div>
                            <div
                              class="lshowcase-slide lshowcase-horizontal-slide"
                              style="float: left; list-style: none; position: relative; width: 200px; margin-right: 10px;"
                            >
                              <a
                                href="https://www.mystampede.com/"
                                target="_blank"
                                style="position: relative; overflow: hidden;"
                                ><img
                                  src="https://hbiop.com/wp-content/uploads/2017/12/Stampede-Web-Logo.jpg"
                                  width="414"
                                  height="75"
                                  alt="Stampede"
                                  title=""
                                  class="lshowcase-normal"/><span
                                  class="image-overlay overlay-type-extern"
                                  style="display: none;"
                                  ><span
                                    class="image-overlay-inside"
                                  ></span></span
                              ></a>
                            </div>
                            <div
                              class="lshowcase-slide lshowcase-horizontal-slide"
                              style="float: left; list-style: none; position: relative; width: 200px; margin-right: 10px;"
                            >
                              <a
                                href="http://www.merrymaids.ca/"
                                target="_blank"
                                style="position: relative; overflow: hidden; display: block;"
                                class="lshowcase-normal"
                                ><img
                                  src="https://hbiop.com/wp-content/uploads/2017/12/Merry-Maids.jpg"
                                  width="275"
                                  height="183"
                                  alt="Merry Maids"
                                  title=""
                                  class=""/><span
                                  class="image-overlay overlay-type-extern"
                                  style="left: -5px; top: 0px; overflow: hidden; display: block; height: 133px; width: 210px;"
                                  ><span
                                    class="image-overlay-inside"
                                  ></span></span
                              ></a>
                            </div>
                            <div
                              class="lshowcase-slide lshowcase-horizontal-slide"
                              style="float: left; list-style: none; position: relative; width: 200px; margin-right: 10px;"
                            >
                              <a
                                href="http://www.sgeu.org/"
                                target="_blank"
                                style="position: relative; overflow: hidden;"
                                ><img
                                  src="https://hbiop.com/wp-content/uploads/2017/12/SGEU-logo.jpg"
                                  width="348"
                                  height="145"
                                  alt="SGEU"
                                  title=""
                                  class="lshowcase-normal"/><span
                                  class="image-overlay overlay-type-extern"
                                  ><span
                                    class="image-overlay-inside"
                                  ></span></span
                              ></a>
                            </div>
                            <div
                              class="lshowcase-slide lshowcase-horizontal-slide"
                              style="float: left; list-style: none; position: relative; width: 200px; margin-right: 10px;"
                            >
                              <a
                                href="https://www.sgi.sk.ca/"
                                target="_blank"
                                style="position: relative; overflow: hidden;"
                                ><img
                                  src="https://hbiop.com/wp-content/uploads/2017/12/SGI-Web-Logo.jpg"
                                  width="470"
                                  height="107"
                                  alt="SGI"
                                  title=""
                                  class="lshowcase-normal"/><span
                                  class="image-overlay overlay-type-extern"
                                  style="display: none;"
                                  ><span
                                    class="image-overlay-inside"
                                  ></span></span
                              ></a>
                            </div>
                            <div
                              class="lshowcase-slide lshowcase-horizontal-slide"
                              style="float: left; list-style: none; position: relative; width: 200px; margin-right: 10px;"
                            >
                              <a
                                href="https://www.dodgecitymotorschrysler.com/"
                                target="_blank"
                                style="position: relative; overflow: hidden;"
                                ><img
                                  src="https://hbiop.com/wp-content/uploads/2017/12/DodgeCityTRANSPARENT500pxl.jpg"
                                  width="500"
                                  height="135"
                                  alt="DodgeCity"
                                  title=""
                                  class="lshowcase-normal"/><span
                                  class="image-overlay overlay-type-extern"
                                  ><span
                                    class="image-overlay-inside"
                                  ></span></span
                              ></a>
                            </div>
                            <div
                              class="lshowcase-slide lshowcase-horizontal-slide"
                              style="float: left; list-style: none; position: relative; width: 200px; margin-right: 10px;"
                            >
                              <a
                                href="http://www.saskinsurance.com/"
                                target="_blank"
                                style="position: relative; overflow: hidden;"
                                ><img
                                  src="https://hbiop.com/wp-content/uploads/2017/12/Dusyk-and-Barlow.jpg"
                                  width="324"
                                  height="156"
                                  alt="Dusyk and Barlow"
                                  title=""
                                  class="lshowcase-normal"/><span
                                  class="image-overlay overlay-type-extern"
                                  ><span
                                    class="image-overlay-inside"
                                  ></span></span
                              ></a>
                            </div>
                            <div
                              class="lshowcase-slide lshowcase-horizontal-slide"
                              style="float: left; list-style: none; position: relative; width: 200px; margin-right: 10px;"
                            >
                              <a
                                href="https://www.concentra.ca/"
                                target="_blank"
                                style="position: relative; overflow: hidden;"
                                ><img
                                  src="https://hbiop.com/wp-content/uploads/2017/12/CONCE-LOGO_PMS_307_hi-res_CMYK700.jpg"
                                  width="700"
                                  height="132"
                                  alt="Concentra"
                                  title=""
                                  class="lshowcase-normal"/><span
                                  class="image-overlay overlay-type-extern"
                                  ><span
                                    class="image-overlay-inside"
                                  ></span></span
                              ></a>
                            </div>
                            <div
                              class="lshowcase-slide lshowcase-horizontal-slide"
                              style="float: left; list-style: none; position: relative; width: 200px; margin-right: 10px;"
                            >
                              <a
                                href="http://www.bassendowski.ca/"
                                target="_blank"
                                style="position: relative; overflow: hidden;"
                                ><img
                                  src="https://hbiop.com/wp-content/uploads/2017/12/Bassendowski.jpg"
                                  width="463"
                                  height="117"
                                  alt="Bassendowski"
                                  title=""
                                  class="lshowcase-normal"/><span
                                  class="image-overlay overlay-type-extern"
                                  ><span
                                    class="image-overlay-inside"
                                  ></span></span
                              ></a>
                            </div>
                            <div
                              class="lshowcase-slide lshowcase-horizontal-slide"
                              style="float: left; list-style: none; position: relative; width: 200px; margin-right: 10px;"
                            >
                              <a
                                href="http://www.bassendowski.ca/"
                                target="_blank"
                                style="position: relative; overflow: hidden;"
                                ><img
                                  src="https://hbiop.com/wp-content/uploads/2017/12/Haworth_Logo_Bright-Cream_TM.png"
                                  width="442"
                                  height="51"
                                  alt="Bassendowski  Copy"
                                  title=""
                                  class="lshowcase-normal"/><span
                                  class="image-overlay overlay-type-extern"
                                  ><span
                                    class="image-overlay-inside"
                                  ></span></span
                              ></a>
                            </div>
                            <div
                              class="lshowcase-slide lshowcase-horizontal-slide bx-clone"
                              style="float: left; list-style: none; position: relative; width: 200px; margin-right: 10px;"
                            >
                              <a
                                href="https://www.uregina.ca/"
                                target="_blank"
                                style="position: relative; overflow: hidden;"
                                ><img
                                  src="https://hbiop.com/wp-content/uploads/2017/12/U-of-R.jpg"
                                  width="322"
                                  height="156"
                                  alt="University of Regina"
                                  title=""
                                  class="lshowcase-normal"/><span
                                  class="image-overlay overlay-type-extern"
                                  ><span
                                    class="image-overlay-inside"
                                  ></span></span
                              ></a>
                            </div>
                            <div
                              class="lshowcase-slide lshowcase-horizontal-slide bx-clone"
                              style="float: left; list-style: none; position: relative; width: 200px; margin-right: 10px;"
                            >
                              <a
                                href="http://www.shaughnessyappliance.com/"
                                target="_blank"
                                style="position: relative; overflow: hidden;"
                                ><img
                                  src="https://hbiop.com/wp-content/uploads/2017/12/Shaughnessy-appliance-service500.jpg"
                                  width="500"
                                  height="170"
                                  alt="Shaughnessy"
                                  title=""
                                  class="lshowcase-normal"/><span
                                  class="image-overlay overlay-type-extern"
                                  ><span
                                    class="image-overlay-inside"
                                  ></span></span
                              ></a>
                            </div>
                            <div
                              class="lshowcase-slide lshowcase-horizontal-slide bx-clone"
                              style="float: left; list-style: none; position: relative; width: 200px; margin-right: 10px;"
                            >
                              <a
                                href="https://www.mystampede.com/"
                                target="_blank"
                                style="position: relative; overflow: hidden;"
                                ><img
                                  src="https://hbiop.com/wp-content/uploads/2017/12/Stampede-Web-Logo.jpg"
                                  width="414"
                                  height="75"
                                  alt="Stampede"
                                  title=""
                                  class="lshowcase-normal"/><span
                                  class="image-overlay overlay-type-extern"
                                  ><span
                                    class="image-overlay-inside"
                                  ></span></span
                              ></a>
                            </div>
                            <div
                              class="lshowcase-slide lshowcase-horizontal-slide bx-clone"
                              style="float: left; list-style: none; position: relative; width: 200px; margin-right: 10px;"
                            >
                              <a
                                href="http://www.merrymaids.ca/"
                                target="_blank"
                                style="position: relative; overflow: hidden;"
                                ><img
                                  src="https://hbiop.com/wp-content/uploads/2017/12/Merry-Maids.jpg"
                                  width="275"
                                  height="183"
                                  alt="Merry Maids"
                                  title=""
                                  class="lshowcase-normal"/><span
                                  class="image-overlay overlay-type-extern"
                                  ><span
                                    class="image-overlay-inside"
                                  ></span></span
                              ></a>
                            </div>
                            <div
                              class="lshowcase-slide lshowcase-horizontal-slide bx-clone"
                              style="float: left; list-style: none; position: relative; width: 200px; margin-right: 10px;"
                            >
                              <a
                                href="http://www.sgeu.org/"
                                target="_blank"
                                style="position: relative; overflow: hidden;"
                                ><img
                                  src="https://hbiop.com/wp-content/uploads/2017/12/SGEU-logo.jpg"
                                  width="348"
                                  height="145"
                                  alt="SGEU"
                                  title=""
                                  class="lshowcase-normal"/><span
                                  class="image-overlay overlay-type-extern"
                                  ><span
                                    class="image-overlay-inside"
                                  ></span></span
                              ></a>
                            </div>
                          </div>
                        </div>
                        <div class="bx-controls bx-has-controls-direction">
                          <div class="bx-controls-direction">
                            <a class="bx-prev" href="">Prev</a
                            ><a class="bx-next" href="">Next</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="lshowcase-clear-both">&nbsp;</div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
</div>
    <FOOTERTAG>

