<HEADSCRIPTS>
<HEADERTAG>
<div
  id="av_section_1"
  class="avia-section main_color avia-section-default avia-no-border-styling avia-bg-style-scroll  avia-builder-el-0  el_before_av_textblock  avia-builder-el-first   container_wrap fullsize"
  style=" "
>
  <div class="container">
    <main
      role="main"
      itemprop="mainContentOfPage"
      class="template-page content  av-content-full alpha units"
    >
      <div class="post-entry post-entry-type-page post-entry-1759">
        <div class="entry-content-wrapper clearfix">
          <div
            class="flex_column av_three_fourth  flex_column_div av-zero-column-padding first  avia-builder-el-1  el_before_av_one_half  avia-builder-el-first  "
            style="border-radius:0px; "
          >
            <div
              style="padding-bottom:10px; "
              class="av-special-heading av-special-heading-h1  blockquote modern-quote  avia-builder-el-2  avia-builder-el-no-sibling   "
            >
              <h1 class="av-special-heading-tag " itemprop="headline">
                Careers
              </h1>
              <div
                class="av-subheading av-subheading_below  "
                style="font-size:17px;"
              >
                <p>We’re always looking for talented folks to join our team!</p>
              </div>
              <div class="special-heading-border">
                <div class="special-heading-inner-border"></div>
              </div>
            </div>
          </div>
          <div
            class="flex_column av_one_half  flex_column_div av-zero-column-padding first  avia-builder-el-3  el_after_av_three_fourth  el_before_av_one_half  column-top-margin"
            style="border-radius:0px; "
          >
            <section
              class="av_textblock_section "
              itemscope="itemscope"
              itemtype="https://schema.org/CreativeWork"
            >
              <div class="avia_textblock  " itemprop="text">
                <p class="p1">
                  <span class="s1"
                    >hbi&nbsp;office plus inc. is one of Western Canada’s
                    fastest growing office supply and contract furniture
                    dealers.</span
                  >
                </p>
                <p class="p1">
                  <span class="s1"
                    >Are sales and helping customers your passion? Then we want
                    to hear from you!</span
                  >
                </p>
                <p class="p1">
                  Submit your resume&nbsp;<a href="mailto:hr@hbiop.com"
                    >hr@hbiop.com</a
                  >
                </p>
              </div>
            </section>
          </div>
          <div
            class="flex_column av_one_half  flex_column_div av-zero-column-padding   avia-builder-el-5  el_after_av_one_half  avia-builder-el-last  column-top-margin"
            style="border-radius:0px; "
          >
            <section
              class="av_textblock_section "
              itemscope="itemscope"
              itemtype="https://schema.org/CreativeWork"
            >
              <div class="avia_textblock  " itemprop="text">
                <p class="p1">
                  <span class="s1"
                    >Interested in joining our warehouse or service team?
                  </span>
                </p>
                <p class="p1">
                  <span class="s1"
                    >We invite you to submit your application online to be
                    considered for future opportunities. Applications will be
                    stored electronically for 3 months.</span
                  >
                </p>
                <p>
                  <a
                    class="typeform-share button"
                    style="display: inline-block; text-decoration: none; background-color: #73aae4; color: white; cursor: pointer; font-family: Helvetica,Arial,sans-serif; font-size: 20px; line-height: 50px; text-align: center; margin: 0; height: 50px; padding: 0px 33px; border-radius: 25px; max-width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: bold; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;"
                    href="https://stratlab.typeform.com/to/h6Zq3Y"
                    target="_blank"
                    rel="noopener"
                    data-mode="drawer_left"
                    >Apply Now
                  </a>
                  <script>
                    ;(function () {
                      var qs,
                        js,
                        q,
                        s,
                        d = document,
                        gi = d.getElementById,
                        ce = d.createElement,
                        gt = d.getElementsByTagName,
                        id = 'typef_orm_share',
                        b = 'https://embed.typeform.com/'
                      if (!gi.call(d, id)) {
                        js = ce.call(d, 'script')
                        js.id = id
                        js.src = b + 'embed.js'
                        q = gt.call(d, 'script')[0]
                        q.parentNode.insertBefore(js, q)
                      }
                    })()
                  </script>
                </p>
              </div>
            </section>
          </div>
        </div>
      </div>
    </main>
    <!-- close content main element -->
  </div>
</div>
<FOOTERTAG>