<HEADSCRIPTS>
  <HEADERTAG>
    <style>
      .breadcrumbs,
      .breadcrumbs a {
        font-size: 15px;
        line-height: 28px;
        display: none;
      }

      @media (max-width: 768px) {
        div.av-layout-grid-container {
          flex-direction: column;
        }

        div.av-layout-grid-container div {
          width: auto !important;
        }
      }
    </style>

    <div id="av-layout-grid-1"
      class="av-layout-grid-container entry-content-wrapper main_color av-flex-cells    avia-builder-el-0  el_before_av_section  avia-builder-el-first  container_wrap fullsize"
      style="display: flex;">
      <div
        class="flex_cell no_margin av_one_half  avia-builder-el-1  el_before_av_cell_one_half  avia-builder-el-first   "
        style="vertical-align:top;background-color:#ffffff;width: 30%;padding: 120px;">
        <div class="flex_cell_inner">
          <div style="padding:20px;"
            class="av-special-heading av-special-heading-h2  blockquote modern-quote  avia-builder-el-2  el_before_av_one_full  avia-builder-el-first  ">
            <h2 class="av-special-heading-tag " itemprop="headline">
              Get in touch
            </h2>
            <div class="av-subheading av-subheading_below  " style="font-size:18px;">
              <p>
                hbi office plus inc. has 5 Saskatchewan locations to serve you.
                Where ever you are hbi has you covered.
              </p>
            </div>
            <div class="special-heading-border">
              <div class="special-heading-inner-border"></div>
            </div>
          </div>
          <div
            class="flex_column av_one_full  flex_column_div first  avia-builder-el-3  el_after_av_heading  el_before_av_one_fifth  "
            style="padding:10px 0px 0px 0px ; border-radius:0px; ">
            <section class="av_textblock_section " itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
              <div class="avia_textblock  " itemprop="text">
                <h3>hbi office plus Head Office</h3>
                <p>
                  1162 Osler Street<br />
                  Regina, Saskatchewan S4R 5G9<br />
                  <a href="mailto:marketing@hbiop.com">marketing@hbiop.com</a><br />
                  Phone: (800) 667-3680<br />
                  Fax: (888) 816-2565
                </p>
              </div>
            </section>
          </div>
          <div
            class="flex_column av_one_fifth  flex_column_div av-zero-column-padding first  avia-builder-el-5  el_after_av_one_full  el_before_av_one_fifth  column-top-margin"
            style="border-radius:0px;display: inline-block;width: 40px;margin-right: 10px;">
            <span
              class="av_font_icon avia_animate_when_visible avia-icon-animate  av-icon-style-  avia-icon-pos-left  avia_start_animation avia_start_delayed_animation"
              style="color:#416dbf; border-color:#416dbf;"><a href="https://www.facebook.com/hbiOfficePlus/"
                target="_blank" class="av-icon-char" style="font-size:40px;line-height:40px;" aria-hidden="true"
                data-av_icon="" data-av_iconfont="entypo-fontello"><i class="fa fa-facebook" aria-hidden="true" style="
    width: 40px;
    color: #7a7a7a;
"></i></a></span>
          </div>
          <div
            class="flex_column av_one_fifth  flex_column_div av-zero-column-padding   avia-builder-el-7  el_after_av_one_fifth  el_before_av_one_fifth  column-top-margin"
            style="border-radius:0px;width: 40px;height: 40px;display: inline-block;margin-right: 10px;">
            <span
              class="av_font_icon avia_animate_when_visible avia-icon-animate  av-icon-style-  avia-icon-pos-left  avia_start_animation avia_start_delayed_animation"
              style="color:#7a7a7a; border-color:#7a7a7a;"><a href="https://www.linkedin.com/company/2401955/"
                target="_blank" class="av-icon-char" style="font-size:40px;line-height:40px;" aria-hidden="true"
                data-av_iconfont="entypo-fontello">
                <i class="fa fa-linkedin" aria-hidden="true" style="
    color: #7a7a7a;
"></i> </a></span>
          </div>
          <div
            class="flex_column av_one_fifth  flex_column_div av-zero-column-padding   avia-builder-el-9  el_after_av_one_fifth  avia-builder-el-last  column-top-margin"
            style="border-radius:0px;display: inline-block;">
            <span
              class="av_font_icon avia_animate_when_visible avia-icon-animate  av-icon-style-  avia-icon-pos-left  avia_start_animation avia_start_delayed_animation"
              style="color:#7a7a7a; border-color:#7a7a7a;"><a href="https://www.instagram.com/hbiofficeplus/" target="_blank"
                class="av-icon-char" style="font-size:40px;line-height:40px;" aria-hidden="true" data-av_icon=""
                data-av_iconfont="entypo-fontello">
                <i class="fa fa-instagram" aria-hidden="true" style="
    color: #7a7a7a;
"></i> </a></span>
          </div>
        </div>
      </div>
      <div
        class="flex_cell no_margin av_one_half  avia-builder-el-11  el_after_av_cell_one_half  avia-builder-el-last   avia-full-stretch av-zero-padding av-hide-on-mobile  "
        style="background:url(/site/suiteoffice/img/hbi-employees-2_1500-1030x735.jpg) center center no-repeat scroll;vertical-align:middle;padding:0;width: 80%;">
        <div class="flex_cell_inner"></div>
      </div>
    </div>

    <div id="wholesale"
      class="avia-section main_color avia-section-default avia-no-border-styling avia-bg-style-scroll  avia-builder-el-12  el_after_av_layout_row  el_before_av_section   container_wrap fullsize av-layout-grid-container">
      <div class="av-layout-grid-container" style="
    display: flex;
    background-color: #F8F8F8;
">
        <div class="template-page content  av-content-full alpha units" style="
    width: 50%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
">
          <div class="post-entry post-entry-type-page post-entry-855">
            <div class="entry-content-wrapper clearfix">
              <div style="padding-bottom:10px; "
                class="av-special-heading av-special-heading-h1    avia-builder-el-13  el_before_av_one_half  avia-builder-el-first   ">
                <h1 class="av-special-heading-tag " itemprop="headline">
                  Wholesale Solutions
                </h1>
                <div class="special-heading-border">
                  <div class="special-heading-inner-border"></div>
                </div>
              </div>
              <div
                class="flex_column av_one_half  flex_column_div av-zero-column-padding first  avia-builder-el-14  el_after_av_heading  el_before_av_two_fifth  "
                style="border-radius:0px; ">
                <section class="av_textblock_section " itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                  <div class="avia_textblock  " itemprop="text">
                    <p>
                      <span class="txt1">hbi also provides Brand Name office products to</span><span class="txt2"><span
                          class="bold">&nbsp;resellers across Saskatchewan with fast
                          turnaround times, high-quality service and
                          support.</span></span>
                    </p>
                    <p>
                      <a href="mailto:marketing@hbiop.com">marketing@hbiop.com</a><br />
                      Phone: (800) 667-3680
                    </p>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
        <div
          class="flex_column av_two_fifth  flex_column_div av-zero-column-padding   avia-builder-el-16  el_after_av_one_half  avia-builder-el-last  "
          style="border-radius:0px;width: 200px;width: 50%;height: 300px;display: flex;align-items: center;justify-content: center;">
          <img class="avia_image" src="/site/suiteoffice/img/Wholesale-image_1000.jpg" alt=""
            title="Wholesale image_1000" height="667" width="1000" itemprop="thumbnailUrl" style="
    width: 400px;
    height: 200px;
" />
        </div>
      </div>
    </div>

    <div class="container">
      <div class="template-page content  av-content-full alpha units">
        <div class="post-entry post-entry-type-page post-entry-855">
          <div class="entry-content-wrapper clearfix">
            <div style="padding: 20px;"
              class="av-special-heading av-special-heading-h1  blockquote modern-quote  avia-builder-el-19  el_before_av_one_third  avia-builder-el-first   ">
              <h1 class="av-special-heading-tag " itemprop="headline">
                Locations
              </h1>
              <div style="
    display: flex;
    flex-wrap: wrap;
">
                <div class="flex_column flex_column_div" style="border-radius:0px;margin: 20px;">
                  <section class="av_textblock_section " itemscope="itemscope"
                    itemtype="https://schema.org/CreativeWork">
                    <div class="avia_textblock  " itemprop="text">
                      <h3 style="
    font-size: 20px;
">
                        hbi office plus Head Office
                      </h3>
                      <p>
                        1162 Osler Street<br />
                        Regina, Saskatchewan S4R 5G9<br />
                        <a href="mailto:marketing@hbiop.com">marketing@hbiop.com</a><br />
                        Phone: (800) 667-3680<br />
                        Fax: (888) 816-2565
                      </p>
                    </div>
                  </section>
                </div>
                <div
                  class="flex_column av_one_third  flex_column_div av-zero-column-padding   avia-builder-el-22  el_after_av_one_third  el_before_av_one_third  "
                  style="border-radius:0px;margin: 20px;">
                  <section class="av_textblock_section " itemscope="itemscope"
                    itemtype="https://schema.org/CreativeWork">
                    <div class="avia_textblock  " itemprop="text">
                      <p>
                        <strong style="
    color: #6686A1;
">hbi office plus Prince Albert Branch</strong><br />
                        1116 Central Avenue<br />
                        Prince Albert, Saskatchewan S6V 4V6<br />
                        <a href="mailto:marketing@hbiop.com">marketing@hbiop.com</a><br />
                        Phone: (306) 764-0810<br />
                        Fax: (306) 922-5609
                      </p>
                    </div>
                  </section>
                </div>
                <div
                  class="flex_column av_one_third  flex_column_div av-zero-column-padding   avia-builder-el-24  el_after_av_one_third  el_before_av_one_third  "
                  style="border-radius:0px;margin: 20px;">
                  <section class="av_textblock_section " itemscope="itemscope"
                    itemtype="https://schema.org/CreativeWork">
                    <div class="avia_textblock  " itemprop="text">
                      <p>
                        <strong style="
    color: #6686A1;
">hbi office plus Saskatoon Branch</strong><br />
                        106-103 Marquis Court<br />
                        Saskatoon, Saskatchewan S7P 0C4<br />
                        <a href="mailto:marketing@hbiop.com">marketing@hbiop.com</a><br />
                        Phone: (306) 664-8877<br />
                        Fax: (306) 664-4474
                      </p>
                    </div>
                  </section>
                </div>
                <div
                  class="flex_column av_one_third  flex_column_div av-zero-column-padding first  avia-builder-el-26  el_after_av_one_third  el_before_av_one_third  column-top-margin"
                  style="border-radius:0px;margin: 20px;">
                  <section class="av_textblock_section " itemscope="itemscope"
                    itemtype="https://schema.org/CreativeWork">
                    <div class="avia_textblock  " itemprop="text">
                      <p>
                        <strong style="
    color: #6686A1;
">hbi office plus Swift Current Branch</strong><br />
                        161B Central Avenue North<br />
                        Swift Current, Saskatchewan S9H 0K8<br />
                        <a href="mailto:marketing@hbiop.com">marketing@hbiop.com</a><br />
                        Phone: (306) 778-3427<br />
                        Fax: (306) 778-3429
                      </p>
                    </div>
                  </section>
                </div>
                <div
                  class="flex_column av_one_third  flex_column_div av-zero-column-padding   avia-builder-el-28  el_after_av_one_third  avia-builder-el-last  column-top-margin"
                  style="border-radius:0px;margin: 20px;min-width: 180px;">
                  <section class="av_textblock_section " itemscope="itemscope"
                    itemtype="https://schema.org/CreativeWork">
                    <div class="avia_textblock  " itemprop="text">
                      <p>
                        <strong style="color: #6686A1;">hbi office plus Yorkton Branch</strong><br />
                        <a href="mailto:marketing@hbiop.com">marketing@hbiop.com</a><br />
                        Phone: (800) 667-3680<br />
                        Fax: (888) 816-2565
                      </p>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- close content main div -->
      </div>
    </div>
    <FOOTERTAG>